<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.ep.spring.address.model.vo.AddFavorite" alias="AddFavorite" />
		<typeAlias type="com.ep.spring.address.model.vo.AddGroup" alias="AddGroup" />
		<typeAlias type="com.ep.spring.address.model.vo.Address" alias="Address" />
		<!-- <typeAlias type="com.ep.spring.address.model.vo.AddEdit" alias="AddEdit" />  -->
		<typeAlias type="com.ep.spring.chat.model.vo.ChatMember" alias="ChatMember" />
		<typeAlias type="com.ep.spring.chat.model.vo.ChatRecord" alias="ChatRecord" />
		<typeAlias type="com.ep.spring.chat.model.vo.ChatRoom" alias="ChatRoom" />
		<typeAlias type="com.ep.spring.mail.model.vo.MailFavorite" alias="MailFavorite" />
		<typeAlias type="com.ep.spring.mail.model.vo.MailTag" alias="MailTage" />
		<typeAlias type="com.ep.spring.mail.model.vo.Mail" alias="Mail" />
		<typeAlias type="com.ep.spring.mail.model.vo.SendMail" alias="SendMail" />		
		<typeAlias type="com.ep.spring.alarm.model.vo.Alarm" alias="Alarm" />
		<typeAlias type="com.ep.spring.login.model.vo.Employee" alias="Employee" />
		<typeAlias type="com.ep.spring.approval.model.vo.Approval" alias="Approval" />
		<typeAlias type="com.ep.spring.approval.model.vo.ApprovalLine" alias="ApprovalLine" />
		<typeAlias type="com.ep.spring.approval.model.vo.ApprovalReply" alias="ApprovalReply" />
		<typeAlias type="com.ep.spring.approval.model.vo.OverTimeForm" alias="OverTimeForm" />
		<typeAlias type="com.ep.spring.approval.model.vo.VacationForm" alias="VacationForm" />
		<typeAlias type="com.ep.spring.common.model.vo.Attachment" alias="Attachment" />
		<typeAlias type="com.ep.spring.board.model.vo.Board" alias="Board" />
		<typeAlias type="com.ep.spring.board.model.vo.BoardCate" alias="BoardCate" />
		<typeAlias type="com.ep.spring.board.model.vo.BoardReply" alias="BoardReply" />
		<typeAlias type="com.ep.spring.dataBoard.model.vo.DataBoard" alias="DataBoard" />
		<typeAlias type="com.ep.spring.reservation.model.vo.Reservation" alias="Reservation" />
		<typeAlias type="com.ep.spring.reservation.model.vo.Resource" alias="Resource" />
	</typeAliases>
	<!-- 유의사항 : 미리등록해두려면 해당 클래스가 진짜 존재해야됨 -->
	
	<!-- 연결할 db에 대한 정보는 root-context.xml 파일에 작성 예정 -->
	
	<mappers>
		<mapper resource="/mappers/address-mapper.xml"/>
		<mapper resource="/mappers/approval-mapper.xml"/>
		<mapper resource="/mappers/chat-mapper.xml"/>
		<mapper resource="/mappers/mail-mapper.xml"/>
		<mapper resource="/mappers/schedule-mapper.xml"/>
		<mapper resource="/mappers/alarm-mapper.xml" />
		<mapper resource="/mappers/employee-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/dataBoard-mapper.xml"/>
		<mapper resource="/mappers/organization-mapper.xml"/>
		<mapper resource="/mappers/reservation-mapper.xml"/>
	</mappers>
	<!-- 유의사항 : 미리등록해두려면 해당 mapper파일이 진짜 존재해야됨, namespace도 지정되어있어야됨 -->
	

</configuration>