<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="addressMapper">

	<resultMap id="addGroupResult" type="addGroup">
		<id column="emp_no" property="empNo" />
		<result column="group_no" property="groupNo" />
		<result column="group_name" property="groupName" />
		<result column="add_type" property="addType" />
	</resultMap>
	
	<resultMap id="addressResult" type="Address">
		<id column="add_no" property="addNo" />
		<result column="emp_no" property="addWriter" />
		<result column="add_type" property="addType" />
		<result column="add_name" property="addName" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="add_emp" property="addEmp" />
		<result column="add_dept" property="addEdpt" />
		<result column="add_job" property="addJob" />
		<result column="group_no" property="groupNo" />
		<result column="emp_phone" property="empPhone" />
		<result column="emp_address" property="empAddress" />
		<result column="memo" property="memo" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="delete_date" property="deleteDate" />
		<result column="add_bin" property="addBin" />
		<result column="add_profile" property="addProfile"/>
	</resultMap>
	
	
	<resultMap id="empResult" type="Employee">
		<id column="emp_no" property="empNo" />
		<result column="emp_name" property="empName" />
		<result column="emp_id" property="empId" />
		<result column="emp_pwd" property="empPwd" />
		<result column="email" property="email" />
		<result column="address" property="address" />
		<result column="phone" property="phone" />
		<result column="emp_profile" property="empProfile" />
		<result column="dept_code" property="deptCode" />
		<result column="dept_name" property="deptName" />
		<result column="job_code" property="jobCode" />
		<result column="job_name" property="jobName" />
		<result column="hire_date" property="hireDate" />
		<result column="ent_yn" property="entYn" />
		<result column="ent_date" property="entDate" />
		<result column="status" property="status" />
		<result column="add_emp_no" property="addEmpNo"/>
	</resultMap>
	
	<resultMap id="addFavoriteResult" type="addFavorite">
		<id column="emp_no" property="empNo"/>
		<result column="add_no" property="addNo" />
		<result column="add_emp_no" property="addEmpNo" />	
	</resultMap>
	
	
	
	
	
	<select id="selectPersonalAddGroup" resultMap="addGroupResult">
		select
		       group_no
			 , a.emp_no
			 , group_name
			 , add_type
		  from add_group a
          join employee e on (a.emp_no = e.emp_no)
		 where add_type = 'P'
		   and emp_id = #{empId} 
		      
	</select>
	
	<select id="selectSharedAddGroup" resultMap="addGroupResult">
		select
		       group_no
			 , emp_no
			 , group_name
			 , add_type
		  from add_group
         where add_type = 'S'
	</select>
	
	<select id="selectEntEmpListCount" resultType="_int">
		select
		       count(*)
		  from employee
		 where ent_yn = 'N'
		   and emp_no != #{no}
	</select>
	
	<select id="selectEntEmpList" resultMap="empResult">
		select
		       e.emp_no
		     , emp_name
		     , email 
		     , address
		     , phone
		     , emp_profile
		     , dept_name
		     , job_name
		  from employee e
          left join department d on (e.dept_code = d.dept_code)
          left join job j on (e.job_code = j.job_code)
		 where ent_yn = 'N'
		   and e.emp_no != #{no}
	</select>
	
	<select id="selectEmpFavList" resultMap="empResult">
		SELECT add_emp_no
		  FROM ADD_FAV
		 WHERE EMP_NO = #{no}
	</select>
	
	
	
	<select id="selectDeptEmpListCount" resultType="_int">
		select
		       count(*)
		  from employee
		 where ent_yn = 'N'
		   and emp_no != #{empNo}
		   and dept_code = #{deptCode}
	</select>
	
	<select id="selectDeptEmpList" resultMap="empResult">
		select
		       e.emp_no
		     , emp_name
		     , email 
		     , address
		     , phone
		     , emp_profile
		     , dept_name
		     , job_name
		  from employee e
          left join department d on (e.dept_code = d.dept_code)
          left join job j on (e.job_code = j.job_code)
		 where ent_yn = 'N'
           and e.emp_no != #{empNo}
           and e.dept_code = #{deptCode}
	</select>
	
	<select id="selectEmpAddDetail" resultMap="empResult">
		select
		       e.emp_no
		     , emp_name
		     , email 
		     , address
		     , phone
		     , emp_profile
		     , dept_name
		     , job_name
		  from employee e
          left join department d on (e.dept_code = d.dept_code)
          left join job j on (e.job_code = j.job_code)
		 where ent_yn = 'N'
           and e.emp_no = #{no}
	</select>
	
	<insert id="" >
	insert 
	  into add_group
	  (
	    GROUP_NO,
	    EMP_NO,
	    GROUP_NAME,
	    ADD_TYPE
	  )
	  values
	  (
	    seq_grpno.nextval
	  , 1
	  , 'hey'
	  , 'P'
	  )
	</insert>






</mapper>