<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="addressMapper">

	<resultMap id="addGroupResult" type="AddGroup">
		<id column="emp_no" property="empNo" />
		<result column="group_no" property="groupNo" />
		<result column="group_name" property="groupName" />
		<result column="add_type" property="addType" />
	</resultMap>
	
	<resultMap id="addressResult" type="Address">
		<id column="add_no" property="addNo" />
		<result column="emp_no" property="empNo" />
		<result column="add_type" property="addType" />
		<result column="add_name" property="addName" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="add_emp" property="addEmp" />
		<result column="add_dept" property="addDept" />
		<result column="add_job" property="addJob" />
		<result column="group_no" property="groupNo" />
		<result column="emp_phone" property="empPhone" />
		<result column="emp_address" property="empAddress" />
		<result column="memo" property="memo" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="delete_date" property="deleteDate" />
		<result column="add_bin" property="addBin" />
		<result column="editable" property="editable"/>
		<association property="group" resultMap="addGroupResult"/>
		<collection property="editList" resultMap="addEditResult"/>
	</resultMap>
	
	
	<resultMap id="empResult" type="Employee">
		<id column="emp_no" property="empNo" />
		<result column="emp_name" property="empName" />
		<result column="emp_id" property="empId" />
		<result column="emp_pwd" property="empPwd" />
		<result column="email" property="email" />
		<result column="address" property="address" />
		<result column="phone" property="phone" />
		<result column="emp_profile" property="empProfile" />
		<result column="dept_code" property="deptCode" />
		<result column="dept_name" property="deptName" />
		<result column="job_code" property="jobCode" />
		<result column="job_name" property="jobName" />
		<result column="hire_date" property="hireDate" />
		<result column="ent_yn" property="entYn" />
		<result column="ent_date" property="entDate" />
		<result column="status" property="status" />
		<result column="add_emp_no" property="addEmpNo"/>
	</resultMap>
	
	<resultMap id="addFavoriteResult" type="AddFavorite">
		<id column="emp_no" property="empNo"/>
		<result column="add_no" property="addNo" />
		<result column="add_emp_no" property="addEmpNo" />	
	</resultMap>
	
	<resultMap id="addEditResult" type="AddEdit">
		<result column="add_no" property="addNo" />
		<result column="emp_no" property="empNo" />
	</resultMap>
	
	
	
	
	<select id="selectPersonalAddGroup" resultMap="addGroupResult">
		select
		       group_no
			 , a.emp_no
			 , group_name
			 , add_type
		  from add_group a
          join employee e on (a.emp_no = e.emp_no)
		 where add_type = 'P'
		   and emp_id = #{empId} 
		      
	</select>
	
	<select id="selectSharedAddGroup" resultMap="addGroupResult">
		select
		       group_no
			 , emp_no
			 , group_name
			 , add_type
		  from add_group
         where add_type = 'S'
	</select>
	
	<select id="selectPersonalFavAddList" resultMap="addressResult">
		select
		       a.ADD_NO
		     , f.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
		     , GROUP_NAME
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		 from address a
         left join add_group g on (a.group_no = g.group_no)
         right join add_fav f on (a.emp_no = f.emp_no)
		 where f.emp_no = #{empNo}
		   and a.add_type = 'P'
           and f.add_no = a.add_no
		   and add_bin = 'N'
		 order
             by f.enroll_date
		      
	</select>
	
	<select id="selectEmpFavAddList" resultMap="empResult">
		select
		       e.emp_no
		     , emp_name
		     , email 
		     , address
		     , phone
		     , emp_profile
		     , dept_name
		     , job_name
		  from employee e
          left join department d on (e.dept_code = d.dept_code)
          left join job j on (e.job_code = j.job_code)
         right join add_fav f on (e.emp_no = f.add_emp_no)
		 where ent_yn = 'N'
           and f.emp_no = #{empNo}
          order
             by f.enroll_date
	</select>
	
	<select id="selectExternalFavAddList" resultMap="addressResult">
		select
		       a.ADD_NO
		     , f.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
		     , GROUP_NAME
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		 from address a
         left join add_group g on (a.group_no = g.group_no)
         right join add_fav f on (a.add_no = f.add_no)
		 where f.emp_no = #{empNo}
		   and a.add_type = 'S'
           and f.add_no = a.add_no
		   and add_bin = 'N'
		 order
             by f.enroll_date desc
	</select>
	
	<insert id="insertPersonalAdd">
		insert
		  into address
		     ( 
		       ADD_NO
			 , EMP_NO
			 , ADD_TYPE
			 , ADD_NAME
			 , EMAIL
			 , PHONE
			 , ADD_EMP
			 , ADD_DEPT
			 , ADD_JOB
			 , GROUP_NO
			 , EMP_PHONE
			 , EMP_ADDRESS
			 , MEMO
			 , CREATE_DATE
		     )
		values
			 (
			   seq_addno.nextval
			 , #{empNo}
			 , 'P'
			 , #{addName}
			 , #{email}
			 , #{phone}
			 , #{addEmp}
			 , #{addDept}
			 , #{addJob}
			 , #{groupNo}
			 , #{empPhone}
			 , #{empAddress}
			 , #{memo}
			 , sysdate
			 )
	</insert>
	
	<insert id="insertSharedAdd">
		insert
		  into address
		     ( 
		       ADD_NO
			 , EMP_NO
			 , ADD_TYPE
			 , ADD_NAME
			 , EMAIL
			 , PHONE
			 , ADD_EMP
			 , ADD_DEPT
			 , ADD_JOB
			 , GROUP_NO
			 , EMP_PHONE
			 , EMP_ADDRESS
			 , MEMO
			 , CREATE_DATE
			 , EDITABLE
		     )
		values
			 (
			   seq_addno.nextval
			 , #{empNo}
			 , 'S'
			 , #{addName}
			 , #{email}
			 , #{phone}
			 , #{addEmp}
			 , #{addDept}
			 , #{addJob}
			 , #{groupNo}
			 , #{empPhone}
			 , #{empAddress}
			 , #{memo}
			 , sysdate
			 , #{editable}
			 )
	</insert>
	
	<update id="insertEditableEmpList">
	<if test="editList.size != 0">
	<foreach collection="editList" item="e" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
			  into add_edit
			     (
			       ADD_NO
		         , EMP_NO
			     )
		    values
		         (
		           seq_addno.currval
		         , #{e.empNo}
		         )
		</foreach>	
	</if>
	</update>
	
	
	<select id="selectEntEmpListCount" resultType="_int">
		select
		       count(*)
		  from employee
		 where ent_yn = 'N'
		   and emp_no != #{no}
	</select>
	
	<select id="selectEntEmpList" resultMap="empResult">
		select
		       e.emp_no
		     , emp_name
		     , email 
		     , address
		     , phone
		     , emp_profile
		     , dept_name
		     , job_name
		  from employee e
          left join department d on (e.dept_code = d.dept_code)
          left join job j on (e.job_code = j.job_code)
		 where ent_yn = 'N'
		   and e.emp_no != #{no}
	</select>
	
	<select id="selectEmpFavList" resultMap="addFavoriteResult">
		SELECT add_emp_no
		  FROM ADD_FAV
		 WHERE EMP_NO = #{no}
	</select>
	
	
	
	<select id="selectDeptEmpListCount" resultType="_int">
		select
		       count(*)
		  from employee
		 where ent_yn = 'N'
		   and emp_no != #{empNo}
		   and dept_code = #{deptCode}
	</select>
	
	<select id="selectDeptEmpList" resultMap="empResult">
		select
		       e.emp_no
		     , emp_name
		     , email 
		     , address
		     , phone
		     , emp_profile
		     , dept_name
		     , job_name
		  from employee e
          left join department d on (e.dept_code = d.dept_code)
          left join job j on (e.job_code = j.job_code)
		 where ent_yn = 'N'
           and e.emp_no != #{empNo}
           and e.dept_code = #{deptCode}
	</select>
	
	<select id="selectEmpAddDetail" resultMap="empResult">
		select
		       e.emp_no
		     , emp_name
		     , email 
		     , address
		     , phone
		     , emp_profile
		     , dept_name
		     , job_name
		  from employee e
          left join department d on (e.dept_code = d.dept_code)
          left join job j on (e.job_code = j.job_code)
		 where ent_yn = 'N'
           and e.emp_no = #{no}
	</select>

	<select id="selectPsAllAddListCount" resultType="_int">
		select
		       count(*)
		  from address
		 where emp_no = #{empNo}
		   and add_type = 'P'
		   and add_bin = 'N'
	</select>
	
	<select id="selectPsAllAddList" resultMap="addressResult">
	   select
		       ADD_NO
		     , a.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
		     , GROUP_NAME
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		 from address a
         left join add_group g on (a.group_no = g.group_no)
		 where a.emp_no = #{empNo}
		   and a.add_type = 'P'
		   and add_bin = 'N'
		 order
		    by create_date
	</select>
	
	<select id="selectPsFavList" resultMap="addFavoriteResult">
		select
		       add_no
		  from add_fav
		 where emp_no = #{empNo}
	</select>
	
	<select id="selectPsGroupAddListCount" resultType="_int">
		select
		       count(*)
		  from address
		 where emp_no = #{empNo}
		 <choose>
			<when test="groupNo != null">
				and group_no = #{groupNo}
			</when>
			<otherwise>
				and group_no is null	
			</otherwise>
		</choose>
		   and add_type = 'P'
		   and add_bin = 'N'
	</select>
	
	<select id="selectPsGroupAddList" resultMap="addressResult">
		select
		       ADD_NO
		     , a.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
		     , GROUP_NAME
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		  from address a
          left join add_group g on (a.group_no = g.group_no)
		 where a.emp_no = #{empNo}
		<choose>
			<when test="groupNo != null">
				and a.group_no = #{groupNo}
			</when>
			<otherwise>
				and a.group_no is null	
			</otherwise>
		</choose>
		    and a.add_type = 'P'
		    and add_bin = 'N'
		  order
		     by create_date
	</select>
	
	<select id="selectAddGroup" resultMap="addGroupResult">
		select group_name
		     , group_no
		  from add_group
		 where group_no = #{group}
	</select>

	<select id="selectExtPersonalGroup" resultType="_int">
		select count(*)
		  from add_group
		 where emp_no = #{empNo}
		   and group_name = #{groupName}
		   and add_type = 'P'
	</select>
	
	<insert id="insertNewPersonalGroup">
		insert
		  into add_group
		     (
		       GROUP_NO
			 , EMP_NO
			 , GROUP_NAME
			 , ADD_TYPE
		     )
		values
			 (
			   seq_grpno.nextval
			 , #{empNo}
			 , #{groupName}
			 , 'P'
			 )     
	</insert>
	
	<select id="selectPersonalGroupList" resultMap="addGroupResult">
		select
		       group_no
			 , emp_no
			 , group_name
			 , add_type
		  from add_group
		 where emp_no = #{empNo}
		   and add_type = 'P'
	</select>
	
	<select id="selectPsAddDetail" resultMap="addressResult">
		select
		       ADD_NO
		     , a.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
		     , GROUP_NAME
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		 from address a
         left join add_group g on (a.group_no = g.group_no)
		 where a.add_no = #{no}
	</select>
	
	<update id="updatePsAdd">
		update
		       address
		   set
		       ADD_NAME = #{addName}
		     , EMAIL = #{email}
		     , PHONE = #{phone}
		     , ADD_EMP = #{addEmp}
		     , ADD_DEPT = #{addDept}
		     , ADD_JOB = #{addJob}
		     , GROUP_NO = #{groupNo}
		     , EMP_PHONE = #{empPhone}
		     , EMP_ADDRESS = #{empAddress}
		     , MEMO = #{memo}
		     , MODIFY_DATE = sysdate
	    where add_no = #{addNo}
	</update>
	
	<select id="selectExtSharedGroup" resultType="_int">
		select count(*)
		  from add_group
		 where group_name = #{groupName}
		   and add_type = 'S'
		       
	</select>
	
	<insert id="insertNewSharedGroup">
		insert
		  into add_group
		     (
		       GROUP_NO
			 , EMP_NO
			 , GROUP_NAME
			 , ADD_TYPE
		     )
		values
			 (
			   seq_grpno.nextval
			 , #{empNo}
			 , #{groupName}
			 , 'S'
			 )   
	</insert>
	
	<select id="selectEmployeeList" resultMap="empResult">
		<if test="empName != ''">
			select
			       emp_no
			     , emp_name
			     , job_name
			     , dept_name
			  from employee e
			  left join department d on e.dept_code = d.dept_code
			  left join job j on e.job_code = j.job_code
			 where emp_no != #{empNo}
			 	and emp_name like '%' || #{empName} || '%'
			 order
			    by emp_name asc
		</if>
	</select>
	
	<delete id="deleteFavAdd">
		delete
		  from add_fav
		 where emp_no = #{empNo}
		   and add_no = #{addNo}
	</delete>
	
	<delete id="deleteFavEmp">
		delete
		  from add_fav
		 where emp_no = #{empNo}
		   and add_emp_no = #{addEmpNo}
	</delete>
	
	<insert id="insertFavAdd">
		insert
		  into add_fav
		     (
		       add_no
		     , emp_no
		     , enroll_date
		     )
		values
		     (
		       #{addNo}
		     , #{empNo}
		     , sysdate
		     )
	</insert>
	
	<insert id="insertFavEmp">
		insert
		  into add_fav
		     (
		       emp_no
		     , add_emp_no
		     , enroll_date
		     )
		values
		     (
		       #{empNo}
		     , #{addEmpNo}
		     , sysdate
		     )
	</insert>
	
	<select id="selectExternalAllListCount" resultType="_int">
		select
		       count(*)
		  from address
		 where add_type = 'S'
		   and add_bin = 'N'
	</select>

	<select id="selectExternalAllList" resultMap="addressResult">
		select
		       ADD_NO
		     , a.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
		     , GROUP_NAME
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		 from address a
         left join add_group g on (a.group_no = g.group_no)
		 where a.add_type = 'S'
		   and add_bin = 'N'
		 order
		    by create_date
	</select>
	
	<select id="selectExternalGroupListCount"  resultType="_int">
		select count(*)
		  from address
		 where add_type = 'S'
		   and add_bin = 'N'
		<choose>
			<when test="group != null">
				and group_no = #{group}
			</when>
			<otherwise>
				and group_no is null	
			</otherwise>
		</choose>
	</select>
	
	<select id="selectExternalGroupList" resultMap="addressResult">
		select
		       ADD_NO
		     , a.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
		     , GROUP_NAME
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		  from address a
          left join add_group g on (a.group_no = g.group_no)
         where a.add_type = 'S'
		<choose>
			<when test="group != null">
				and a.group_no = #{group}
			</when>
			<otherwise>
				and a.group_no is null	
			</otherwise>
		</choose>
		    and add_bin = 'N'
		  order
		     by create_date
	</select>
	
	<select id="selectExternalAddDetail" resultMap="addressResult">
		select
		       ADD_NO
		     , a.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
		     , GROUP_NAME
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		 from address a
         left join add_group g on (a.group_no = g.group_no)
		 where ADD_NO = #{no}
	</select>
	
	<select id="selectExternalAddEditList" resultMap="addEditResult">
		select
		       add_no
		     , emp_no
		  from add_edit
		 where add_no = #{no}
	</select>
	
	<select id="selectExternalAddRegListCount" resultType="_int">
		select count(*)
		  from address
		 where add_type = 'S'
		   and add_bin = 'N'
		 <if test="groupNo != null">
			 <choose>
			 	<when test="groupNo == 0">
			 		and group_no is null
			 	</when>
			 	<otherwise>
			 		and group_no = #{groupNo}
			 	</otherwise>
			 </choose>
		 </if>
	</select>
	
	<select id="selectExternalRegList" resultMap="addressResult">
		select
		       ADD_NO
		     , a.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
	     <if test="groupNo != 0">
	     	 , GROUP_NAME
	     </if>
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		  from address a
	    <if test="groupNo != 0">
          left join add_group g on (a.group_no = g.group_no)
        </if>
         where a.add_type = 'S'
         <if test="groupNo != null">
			<choose>
			 	<when test="groupNo == 0">
			 		and a.group_no is null
			 	</when>
			 	<otherwise>
			 		and a.group_no = #{groupNo}
			 	</otherwise>
			 </choose>
		</if>
		    and add_bin = 'N'
		  order
		     by create_date
	</select>

	<update id="deleteAddList">
	    update address  
		   set add_bin = 'Y'
		 where add_no = #{addNo} 
	</update>
	
	<update id="changeGroupAddList">
	    update address  
    <choose>
    	<when test="groupNo == null">
    		set group_no = ''
    	</when>
    	<otherwise>
    		set group_no = #{groupNo}
    	</otherwise>
    </choose>
		 where add_no = #{addNo} 
	</update>
	
	<update id="updatePsGroupName">
		update add_group
		   set group_name = #{groupName}
		 where group_no = #{groupNo}
	</update>
	
	<select id="selectAddressBinListCount" resultType="_int">
		select
		       count(*)
		  from address
		 where emp_no = #{empNo}
		   and add_type = 'P'
		   and add_bin = 'Y'
		
	</select>
	
	<select id="selectAddressBinList" resultMap="addressResult">
		select
		       ADD_NO
		     , a.EMP_NO
		     , a.ADD_TYPE
		     , ADD_NAME
		     , EMAIL
		     , PHONE
		     , ADD_EMP
		     , ADD_DEPT
		     , ADD_JOB
		     , a.GROUP_NO
		     , GROUP_NAME
		     , EMP_PHONE
		     , EMP_ADDRESS
		     , MEMO
		     , CREATE_DATE
		     , MODIFY_DATE
		     , DELETE_DATE
		     , ADD_BIN
		     , EDITABLE
		 from address a
         left join add_group g on (a.group_no = g.group_no)
		 where a.emp_no = #{empNo}
		   and a.add_type = 'P'
		   and add_bin = 'Y'
		 order
		    by DELETE_DATE desc
	</select>
	
	<delete id="completeDeleteAddList">
		delete
		  from address
		 where add_no = #{addNo}
	</delete>
	
	<delete id="deleteFavList">
		delete
		  from add_fav
		 where add_no = #{addNo}
	</delete>
	
	<update id="restoreAddList">
		update
		       address
		   set add_bin = 'N'
		 where add_no = #{addNo}
	</update>


</mapper>