<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">
	
	<resultMap id="approvalResult" type="Approval">
		<id column="app_no" property="appNo" />
		<result column="enroll_date" property="enrollDate" /> 
		<result column="status" property="status" /> 
		<result column="app_tstatus" property="tstatus" /> 
		<result column="writer_comment" property="writerComment" /> 
		<result column="title" property="title" /> 
		<result column="content" property="content" /> 
		<result column="emp_no" property="writerNo" /> 
		<result column="form_name" property="formName" /> 
		<result column="conser_period" property="conPeriod" /> 
		<result column="sec_grade" property="secGrade" /> 
		<result column="form_code" property="formCode" /> 
		<result column="app_amount" property="appAmount" /> 
		<result column="app_sequence" property="appSequence" /> 
		<result column="emp_name" property="empName" />
 		<result column="dept_name" property="deptName" />
 		<result column="origin_name" property="originName" />
 		<result column="update_date" property="updateDate" />
 		<result column="count" property="count" />
	</resultMap>
	
	<resultMap id="approvalLineResult" type="ApprovalLine">
		<id column = "app_line_no" property="appLineNo" />
		<result column="ref_whether" property="refWhether" />
		<result column="app_seq_no" property="appSeqNo" />
		<result column="app_status" property="appStatus" />
		<result column="update_date" property="updateDate" />
		<result column="emp_no" property="recEmpNo" />
		<result column="app_no" property="appNo" />
		<result column="app_comment" property="appComment" />
		<result column="enroll_date" property="enrollDate" />
		<result column="count" property="count" />
		
	</resultMap>
	
	<select id="selectMainWList" resultMap="approvalResult">
		   select * 
		    from(
		            select rownum rnum, a.*
		              from(	
					select
							 app_no
						
						   , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
						   , app_tstatus
						   , title
						   , b.emp_no
						   , form_name
						   , form_code
						   , app_amount
						   , app_sequence
                           , emp_name
					   from  approval b
                       join  employee e on (b.emp_no = e.emp_no)
					  where b.status = '1'
					    and app_tstatus = '진행중'
					    and app_no = (
                                    select app_no
                                      from app_line
                                     where ref_whether = 'N'
                                       and app_status ='미결재'
                                       and emp_no = #{empNo}
                                        )
			            order 
			               by b.enroll_date   
					            
		               		)a
		         )
		         where rnum between 1 and 4               
			  	
	</select>
	
	<select id="selectMainSList" resultMap="approvalResult">
			select * 
		    from(
		            select rownum rnum, c.*
		              from(	
							select
									 app_no
								   , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
								   , app_tstatus
								   , title
								   , a.emp_no
								   , form_name
								   , form_code
								   , app_amount
								   , app_sequence
								   , emp_name
							   from  approval a
							   join  employee e on (a.emp_no = e.emp_no)
							  where a.status = '1'
							    and app_tstatus = '진행중'
							    and a.emp_no = #{empNo}
					            order 
					               by enroll_date   
		               		)c
		         )
		         where rnum between 1 and 5  
	</select>
	
	<select id="selectEnrollInfo" resultMap="approvalResult">
			select 
			        distinct emp_name
			      , dept_name
			  from approval a  
			  join employee e on (a.emp_no = e.emp_no)
			  join department d on (d.dept_code = e.dept_code)
			  where a.emp_no = #{empNo}		
	</select>
	
	<select id="selectWaitingAListCount" resultType="_int">
				select
						count(*)
				   from  approval 
				  where status = '1'
				    and app_tstatus = '진행중'
				    and app_no = (
                                   select app_no
                                     from app_line
                                    where ref_whether = 'N'
                                      and app_status ='미결재'
                                      and emp_no = #{empNo}
                                       )
		            order 
		               by enroll_date  
			       
	</select>
	
	<select id="selectWatingAList" resultMap="approvalResult">
				select
						 app_no
					   , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
					   , app_tstatus
					   , title
					   , b.emp_no
					   , form_name
					   , form_code
					   , app_amount
					   , app_sequence
                          , emp_name
                          , origin_name
				   from  approval b
                      join  employee e on (b.emp_no = e.emp_no)
                      join attachment on (ref_no = app_no)
				  where b.status = '1'
				    and app_tstatus = '진행중'
				    and app_no = (
                                   select app_no
                                     from app_line
                                    where ref_whether = 'N'
                                      and app_status ='미결재'
                                      and emp_no = #{empNo}
                                       )
		            order 
		               by b.enroll_date                                            	
	</select>
	
	<select id="selectWaitingRListCount" resultType="_int">
					select
						count(*)
				   from  approval
				 where status = '1'
				    and app_no = (
                                   select app_no
                                     from app_line
                                    where ref_whether = 'Y'
                                      and emp_no = #{empNo}
                                      and count = 0
                                       )
		            order 
		               by enroll_date  
	</select>
	
	<select id="selectWaitingRList" resultMap="approvalResult">
					select
                            app_no
						  , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
						  , app_tstatus
						  , b.emp_no
                          , form_name
                          , form_code
                          , title
                          , origin_name
                          , emp_name
				   from  approval b
                      join  employee e on (b.emp_no = e.emp_no)
                      join attachment on (ref_no = app_no)
				  where b.status = '1'
				    and app_no = (
                                   select app_no
                                     from app_line
                                    where ref_whether = 'Y'
                                      and emp_no = #{empNo}
                                      and count = 0
                                       )
		            order 
		               by b.enroll_date        		
	</select>
	
	<select id="selectSendListCount" resultType="_int">
					select 
					        count(*) 
					  from  approval
					 where emp_no = #{empNo}
					   and status = 1
	</select>
	
	<select id="selectSendList" resultMap="approvalResult">
				select 
				      distinct a.app_no
				      , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
				      , form_name
				      , title
				      , form_code
				      , origin_name
				      , app_tstatus
				  from  approval a
				  left join attachment t on (app_no = ref_no)
				  left join employee e on (a.emp_no = e.emp_no)
				 where a.emp_no = #{empNo}
				   and a.status = 1	
				 order 
                    by app_no
	</select>
	
	<select id="selectTempListCount" resultType="_int">
			select
			        count(*)
			  from approval
			 where status = 2
			   and emp_no = #{empNo}
	</select>
	
	<select id="selectTempList" resultMap="approvalResult">
				select
			        app_no
			      , to_char(enroll_date, 'YYYY-MM-dd') as "enroll_date"
			      , app_tstatus
			      , title
			      , form_name
			      , form_code
			      , origin_name
			      from approval
			  join attachment on (app_no = ref_no)   
			  
			 where status = 2
			   and emp_no = #{empNo}
			order by enroll_date	
	</select>
	
	<select id="selectRecListCount" resultType="_int">
		select 
        		count(*)
		   from approval
		  where status = 1
		    and app_no = (
		                    select distinct app_no
		                      from app_line
		                     where ref_whether = 'N'
		                       and emp_no = #{empNo}
		                  )
        
	</select>
	
	<select id = "selectRecList" resultMap="approvalResult">
				select  
				       distinct a.app_no
				       , to_char(a.enroll_date, 'YYYY-MM-dd')as "enroll_date"
				       , to_char(update_date, 'YYYY-MM-dd') as "update_date"
				       , app_tstatus
				       , title
				       , emp_name
				       , form_name
				       , form_code
				       , origin_name
				       , app_change
				   from approval a
				   left join attachment t on (ref_no = a.app_no)
				   left join employee e on (e.emp_no = a.emp_no)
				   left join app_line l on (l.app_no = a.app_no)
				  where a.status = 1
				    and a.app_no = (
				                    select distinct app_no
				                      from app_line
				                     where ref_whether = 'N'
				                       and emp_no = #{empNo}
				                  )
				    and update_date = (select max(update_date)
				                        from app_line
				                       where ref_whether = 'N'
				                         and app_no = a.app_no
				                    )
					 order 
					    by app_no                      	
	</select>
	
	
</mapper>