<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">
	
	<resultMap id="approvalResult" type="Approval">
		<id column="app_no" property="appNo" />
		<result column="enroll_date" property="enrollDate" /> 
		<result column="status" property="status" /> 
		<result column="app_tstatus" property="tstatus" /> 
		<result column="writer_comment" property="writerComment" /> 
		<result column="title" property="title" /> 
		<result column="content" property="content" /> 
		<result column="emp_no" property="writerNo" /> 
		<result column="form_name" property="formName" /> 
		<result column="conser_period" property="conPeriod" /> 
		<result column="sec_grade" property="secGrade" /> 
		<result column="form_code" property="formCode" /> 
		<result column="app_amount" property="appAmount" /> 
		<result column="app_sequence" property="appSequence" /> 
		<result column="emp_name" property="empName" />
		<result column="app_change" property="appChange" />
 		<result column="dept_name" property="deptName" />
 		<result column="origin_name" property="originName" />
 		<result column="update_date" property="updateDate" />
 		<result column="count" property="count" />
 		<result column="job_code" property="jobCode" />
 		<result column="attach_count" property="attachCount" />
	</resultMap>
	
	<resultMap id="approvalLineResult" type="ApprovalLine">
		<id column = "app_line_no" property="appLineNo" />
		<result column="ref_whether" property="refWhether" />
		<result column="app_seq_no" property="appSeqNo" />
		<result column="app_status" property="appStatus" />
		<result column="update_date" property="updateDate" />
		<result column="emp_no" property="recEmpNo" />
		<result column="app_no" property="appNo" />
		<result column="app_comment" property="appComment" />
		<result column="enroll_date" property="enrollDate" />
		<result column="count" property="count" />
		<result column="emp_name" property="empName" />
		<result column="dept_name" property="deptName" />
		<result column="job_code" property="jobCode" /> 
		<result column="emp_profile" property="empProfile" />
	</resultMap>
	
	<resultMap id="approvalReplyResult" type="ApprovalReply">
		<id column="app_repno" property="replyNo" />
		<result column ="enroll_date" property="enrollDate" /> 
		<result column ="content" property="content" /> 
		<result column ="status" property="status" /> 
		<result column ="app_no" property="appNo" /> 
		<result column ="emp_no" property="writerNo" />
		<result column="emp_name" property="writerName" />
		<result column="dept_name" property="deptName" />
		<result column="job_code" property="jobCode" /> 
		<result column="emp_profile" property="empProfile" />
		
	</resultMap>
	
	<resultMap id="vacationFormResult" type="VacationForm">
		<id column = "app_no" property="appNo" />
		<result column="vac_kind" property="vacKind" /> 
		<result column="vac_start" property="vacStart" /> 
		<result column="vac_end" property="vacEnd" /> 
		<result column="half_status" property="halfStatus" /> 
		<result column="vac_use" property="vacUse" /> 
		<result column="half_day" property="halfDay" /> 
	</resultMap>
	
	<resultMap id="overTimeFormResult" type="OverTimeForm">
		<id column="app_no" property="appNo" />
		<result column="overtime_kind" property="otKind" />
		<result column="over_date" property="otDate" />
		<result column="over_start_hour" property="otStart" />
		<result column="over_end_hour" property="otEnd" />
		<result column="over_use_time" property="otUseTime" />
	</resultMap>
	
	<resultMap id="appAttachementResult" type="Attachment">
		<id column="attach_no" property="attachNo" /> 
		<result column="ref_no" property="refNo" /> 
		<result column="origin_name" property="originName" /> 
		<result column="change_name" property="changeName" /> 
		<result column="file_path" property="filePath" /> 
		<result column="upload_date" property="uploadDate" /> 
		<result column="division" property="division" /> 
	</resultMap>
	
	<select id="selectMainWList" resultMap="approvalResult">
		   select * 
		    from(
		            select rownum rnum, a.*
		              from(	
					select
							 app_no
						
						   , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
						   , app_tstatus
						   , title
						   , b.emp_no
						   , form_name
						   , form_code
						   , app_amount
						   , app_sequence
                           , emp_name
					   from  approval b
                       join  employee e on (b.emp_no = e.emp_no)
					  where b.status = '1'
					    and app_tstatus = '진행중'
					    and app_no IN (
                                    select app_no
                                      from app_line
                                     where ref_whether = 'N'
                                       and app_status ='미결재'
                                       and emp_no = #{eNo}
                                       and app_seq_no = b.app_sequence
                                        )
			            order 
			               by b.enroll_date   
					            
		               		)a
		         )
		         where rnum between 1 and 4                 
			  	
	</select>
	
	<select id="selectMainSList" resultMap="approvalResult">
			select * 
		    from(
		            select rownum rnum, c.*
		              from(	
							select
									 app_no
								   , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
								   , app_tstatus
								   , title
								   , a.emp_no
								   , form_name
								   , form_code
								   , app_amount
								   , app_sequence
								   , emp_name
							   from  approval a
							   join  employee e on (a.emp_no = e.emp_no)
							  where a.status = '1'
							    and app_tstatus = '진행중'
							    and a.emp_no = #{eNo}
					            order 
					               by enroll_date   
		               		)c
		         )
		         where rnum between 1 and 5  
	</select>
	

	
	<select id="selectWaitingAListCount" resultType="_int">
				select
						count(*)
				   from  approval b
				  where b.status = '1'
				    and app_tstatus = '진행중'
				    and app_no in (
                                   select app_no
                                     from app_line
                                    where ref_whether = 'N'
                                      and app_status ='미결재'
                                      and emp_no = #{eNo}
                                      and app_seq_no = b.app_sequence
                                       )

			       
	</select>
	
	<select id="selectWatingAList" resultMap="approvalResult">
				select
						 b.app_no
					   , to_char(b.enroll_date, 'YYYY-MM-DD') as "enroll_date"
					   , app_tstatus
					   , title
					   , b.emp_no
					   , form_name
					   , form_code
					   , app_amount
					   , app_sequence
                       , emp_name
                       , (
                            select count(*)
                              from attachment
                             where division = 'A'
                               and ref_no = b.app_no
                            ) attach_count
				   from  approval b
                   left join  employee e on (b.emp_no = e.emp_no)
				  where b.status = '1'
				    and app_tstatus = '진행중'
				    and app_no in (
                                   select app_no
                                     from app_line
                                    where ref_whether = 'N'
                                      and app_status ='미결재'
                                      and emp_no = #{eNo}
                                      and app_seq_no = b.app_sequence
                                       )
		            order 
		               by b.enroll_date                                            	
	</select>
	
	<select id="selectWaitingRListCount" resultType="_int">
				 select
						count(*)
				   from  approval b
				  where status = '1'
				    and app_no in (
                                   select app_no
                                     from app_line
                                    where ref_whether = 'Y'
                                      and emp_no = #{eNo}
                                      and count = 0
                                       )
         		    
	</select>
	
	<select id="selectWaitingRList" resultMap="approvalResult">
					select
                            b.app_no
						  , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
						  , app_tstatus
						  , b.emp_no
                          , form_name
                          , form_code
                          , title
	                       , (
	                            select count(*)
	                              from attachment
	                             where division = 'A'
	                               and ref_no = b.app_no
	                            ) attach_count
                          , emp_name
				   from  approval b
                      join  employee e on (b.emp_no = e.emp_no)
				  where b.status = '1'
				    and app_no in (
                                   select app_no
                                     from app_line
                                    where ref_whether = 'Y'
                                      and emp_no = #{eNo}
                                      and count = 0
                                       )
                  
                   order 
		               by b.enroll_date          		
	</select>
	
	<select id="selectSendListCount" resultType="_int">
					select 
					        count(*) 
					  from  approval
					 where emp_no = #{empNo}
					   and status = 1
	</select>
	
	<select id="selectSendList" resultMap="approvalResult">
				select 
				       a.app_no
				      , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
				      , form_name
				      , title
				      , form_code
                       , (
                            select count(*)
                              from attachment
                             where division = 'A'
                               and ref_no = a.app_no
                            ) attach_count
				      , app_tstatus
				  from  approval a
				  left join employee e on (a.emp_no = e.emp_no)
				 where a.emp_no = #{eNo}
				   and a.status = 1	
				 order 
                    by app_no
	</select>
	
	<select id="selectTempListCount" resultType="_int">
			select
			        count(*)
			  from approval
			 where status = 2
			   and emp_no = #{empNo}
	</select>
	
	<select id="selectTempList" resultMap="approvalResult">
				select
			        a.app_no
			      , to_char(enroll_date, 'YYYY-MM-dd') as "enroll_date"
			      , app_tstatus
			      , title
			      , form_name
			      , form_code
	               , (
	                    select count(*)
	                      from attachment
	                     where division = 'A'
	                       and ref_no = a.app_no
	                    ) attach_count
			      from approval a
			 where status = 2
			   and emp_no = #{empNo}
			order by enroll_date	
	</select>
	
	<select id="selectRecListCount" resultType="_int">
		select 
        		count(*)
		   from approval a
		  where status = 1
		    and app_no in (
		                    select distinct app_no
		                      from app_line
		                     where ref_whether = 'N'
		                       and emp_no = #{empNo}
		                       and app_seq_no <![CDATA[ <= ]]> a.app_sequence
		                  )
        
	</select>
	
	<select id = "selectRecList" resultMap="approvalResult">
				select  
				       distinct a.app_no
				       , to_char(a.enroll_date, 'YYYY-MM-dd')as "enroll_date"
				       , to_char(update_date, 'YYYY-MM-dd') as "update_date"
				       , app_tstatus
				       , title
				       , emp_name
				       , form_name
				       , form_code
		               , (
		                    select count(*)
		                      from attachment
		                     where division = 'A'
		                       and ref_no = a.app_no
		                    ) attach_count
				       , app_change
				   from approval a
				   left join employee e on (e.emp_no = a.emp_no)
				   left join app_line l on (l.app_no = a.app_no)
				  where a.status = 1
				    and a.app_no in (
				                    select distinct app_no
				                      from app_line
				                     where ref_whether = 'N'
				                       and emp_no = #{empNo}
				                       and app_seq_no <![CDATA[ <= ]]> a.app_sequence
				                       
				                  )
				    and update_date = (select max(update_date)
				                        from app_line
				                       where ref_whether = 'N'
				                         and app_no = a.app_no
				                    )
					 order 
					    by app_no                      	
	</select>
	
	<select id ="selectRefListCount" resultType="_int">
				select
				        count(*)
				  from approval
				 where status = 1
				   and app_no in (
				                    select app_no
				                      from app_line
				                     where ref_whether = 'Y'
				                       and emp_no = #{empNo}
				                    )		
	</select>
	
	<select id="selectRefList" resultMap="approvalResult">
				select distinct
				         a.app_no 
				        ,  to_char(a.enroll_date, 'YYYY-MM-dd') as "enroll_date"
				        , to_char(update_date, 'YYYY-MM-dd') as "update_date" 
				        , form_name
				        , form_code
				        , title
				        , emp_name
		               , (
		                    select count(*)
		                      from attachment
		                     where division = 'A'
		                       and ref_no = a.app_no
		                    ) attach_count
				        , app_change
				        , app_tstatus
				   from approval a
				   left join app_line l on (a.app_no = l.app_no)
				   left join employee e on (a.emp_no = e.emp_no)
				  where a.status = 1
				    and a.app_no in (
				                    select app_no
				                      from app_line
				                     where ref_whether = 'Y'
				                       and emp_no = #{empNo}
				    )
				    and update_date = (select max(update_date)
				                        from app_line
				                       where ref_whether = 'N'
				                         and app_no = a.app_no
				                    )  
	</select>
	
	<select id="selectDeptSendListCount" resultType="_int">
			 select count(*)
			  from approval a
			  join employee e on (e.emp_no = a.emp_no) 
			  where dept_code in (
			                    select dept_code
			                      from employee
			                     where emp_no = #{empNo}
			                    )
			    and app_tstatus = '결재'   	
	</select>
	
	<select id="selectDeptSendList" resultMap="approvalResult">
				select
				         distinct a.app_no
				        , to_char(a.enroll_date, 'YYYY-MM-dd') as "enroll_date"
				        , to_char(update_date, 'YYYY-MM-dd') as "update_date" 
				        , form_name
				        , form_code
				        , title
				        , emp_name
		               , (
		                    select count(*)
		                      from attachment
		                     where division = 'A'
		                       and ref_no = a.app_no
		                    ) attach_count
				        , app_change
				        , app_tstatus
				   from approval a
				   left join app_line l on (a.app_no = l.app_no)
				   left join employee e on (a.emp_no = e.emp_no)
				  where a.status = 1
				    and app_tstatus = '결재'
				    and dept_code in (
                                        select dept_code
                                          from employee
                                         where emp_no = #{empNo}
                                        )
                                    
                    and update_date = (select max(update_date)
                                        from app_line
                                       where app_no in a.app_no
                                    )              
				   order by a.app_no    
	</select>
	
	
	
	<select id="selectDeptRefListCount" resultType="_int">
			   select 
			          count(*) count
			     from approval
			    where app_no in (
				                    select app_no
				                      from app_line a
				                      join employee e on (e.emp_no = a.emp_no) 
				                     where ref_whether = 'Y'
				                       and dept_code = (
				                                        select dept_code
				                                          from employee
				                                         where emp_no = #{empNo}
				                                        )
				                      group by app_no
			                      )	              
	</select>
	
	<select id = "selectDeptRefList" resultMap = "approvalResult">
                    
				select
				         distinct a.app_no
				        , to_char(a.enroll_date, 'YYYY-MM-dd') as "enroll_date"
				        , to_char(update_date, 'YYYY-MM-dd') as "update_date" 
				        , form_name
				        , form_code
				        , title
				        , emp_name
		               , (
		                    select count(*)
		                      from attachment
		                     where division = 'A'
		                       and ref_no = a.app_no
		                    ) attach_count
				        , app_change
				        , app_tstatus
				   from approval a
				   left join app_line l on (a.app_no = l.app_no)
				   left join employee e on (a.emp_no = e.emp_no)
				  where a.status = 1
				    and a.app_no in (
                                    select app_no
                                      from app_line a
                                      join employee e on (e.emp_no = a.emp_no) 
                                     where ref_whether = 'Y'
                                       and dept_code = (
                                                        select dept_code
                                                          from employee
                                                         where emp_no = #{empNo}
                                                        )
                                      group by app_no
                                    )
                                    
                    and update_date = (select max(update_date)
                                        from app_line
                                       where app_no in a.app_no
                                    )              
				   order by a.app_no         	
	</select>
	
	<select id="selectDetailSPrgAp" resultMap="approvalResult">
				select 
				        APP_NO
				        , to_char(a.ENROLL_DATE, 'YYYY-MM-dd') as "enroll_date"
				        , a.STATUS
				        , APP_TSTATUS
				        , WRITER_COMMENT
				        , TITLE
				        , CONTENT
				        , a.EMP_NO
				        , FORM_NAME
				        , CONSER_PERIOD
				        , SEC_GRADE
				        , FORM_CODE
				        , APP_AMOUNT
				        , APP_SEQUENCE
				        , APP_CHANGE
				        , emp_name
				        , dept_name
				        , job_code
				  from approval a
				  join employee b on (a.emp_no = b.emp_no)
				  join department c on (b.dept_code = c.dept_code)
				  where a.status = '1'
				  <choose>
				   <when test="st == null">
				    and a.emp_no = #{writerNo}
				  </when>
                  <otherwise>
                  	and app_tstatus = #{tstatus}
                  </otherwise>
                  </choose>
				    and app_no = #{appNo}	
	</select>
	
	<select id="selectDetailSPrgAl" resultMap="approvalLineResult">
    
				 select  
				        APP_LINE_NO
				        , REF_WHETHER
				        , APP_SEQ_NO
				        , APP_STATUS
				        , to_char(UPDATE_DATE, 'YYYY-MM-dd') as "update_date"
				        , a.EMP_NO
				        , APP_NO
				        , APP_COMMENT
				        , ENROLL_DATE
				        , COUNT
				        , emp_name
				        , dept_name
				        , job_code
				        , emp_profile
				   from app_line a
				   left join employee b on (a.emp_no = b.emp_no)
				   left join department c on (b.dept_code = c.dept_code)
				  where app_no = #{appNo}	
				  	and ref_whether = 'N' 
				  order 
				     by app_seq_no
	</select>
	
	<select id="selectDetailSPrgRl" resultMap="approvalLineResult">
				 select  
				        APP_LINE_NO
				        , REF_WHETHER
				        , APP_SEQ_NO
				        , APP_STATUS
				        , to_char(UPDATE_DATE, 'YYYY-MM-dd') as "update_date"
				        , a.EMP_NO
				        , APP_NO
				        , APP_COMMENT
				        , ENROLL_DATE
				        , COUNT
				        , emp_name
				        , dept_name
				        , job_code
				        , emp_profile
				   from app_line a
				   left join employee b on (a.emp_no = b.emp_no)
				   left join department c on (b.dept_code = c.dept_code)
				  where app_no = #{appNo}	
				  	and ref_whether = 'Y' 
				  order 
				     by app_seq_no	
	</select>

	<select id="selectDetailSPrgVf" resultMap="vacationFormResult">
				SELECT 
				        APP_NO
				        , VAC_KIND
				        , VAC_START
				        , VAC_END
				        , HALF_STATUS
				        , VAC_USE
				        , HALF_DAY
				   from vac_form
				  where app_no = #{appNo}
	</select>			
	
	<select id="selectDetailSPrgOt" resultMap="overTimeFormResult">
				select
				        APP_NO
				        , OVERTIME_KIND
				        , OVER_DATE
				        , OVER_START_HOUR
				        , OVER_END_HOUR
				        , OVER_USE_TIME
				   from ot_form
				  where app_no = #{appNo}	
	</select>
	
	<select id="selectDetailSPrgAt" resultMap="appAttachementResult">
				select 
				        ATTACH_NO
				        , REF_NO
				        , ORIGIN_NAME
				        , CHANGE_NAME
				        , FILE_PATH
				        , UPLOAD_DATE
				        , DIVISION
				   from attachment
				  where ref_no = #{appNo}
				    and division = 'A'
	</select>
	
		<select id="selectReplyList" resultMap="approvalReplyResult">
			    select
			            APP_REPNO
			            , to_char(a.ENROLL_DATE, 'YYYY-MM-dd hh:mm:ss') as "enroll_date"
			            , CONTENT
			            , a.STATUS
			            , APP_NO
			            , a.EMP_NO
			            , emp_name
			            , dept_name
			            , job_code
			     from  app_reply a
			     join  employee b on (a.emp_no = b.emp_no)
			     join  department c on (b.dept_code = c.dept_code)   
			     where a.status = 'Y'
			       and app_no = #{appNo}	 	
	</select>
	
	<insert id="insertReply">
			 	insert
				  into app_reply
					  (
					  APP_REPNO
					, CONTENT
					, APP_NO
					, EMP_NO
					  )
				values
					  (
					  seq_arno.nextval
					  , #{content}
					  , #{appNo}
					  , #{writerNo}
					  )
	</insert>
	
	<update id="deleteReply">
				update 
				       app_reply
				   set status = 'N'
				 where app_repno = #{replyNo}		
	</update>
	
	<update id="deleteApproval">
				update
				        approval
				   set status = 3
				 where app_no = #{appNo} 	
	</update>

	<select id="selectDetailRec" resultMap="approvalResult">
				select 
				        APP_NO
				        , to_char(a.ENROLL_DATE, 'YYYY-MM-dd') as "enroll_date"
				        , a.STATUS
				        , APP_TSTATUS
				        , WRITER_COMMENT
				        , TITLE
				        , CONTENT
				        , a.EMP_NO
				        , FORM_NAME
				        , CONSER_PERIOD
				        , SEC_GRADE
				        , FORM_CODE
				        , APP_AMOUNT
				        , APP_SEQUENCE
				        , APP_CHANGE
				        , emp_name
				        , dept_name
				        , job_code
				  from approval a
				  join employee b on (a.emp_no = b.emp_no)
				  join department c on (b.dept_code = c.dept_code)
				  where app_no = #{appNo}
                  <if test="#{tstatus} == '진행중'">
                    and APP_TSTATUS = '진행중'
                  </if>
				    and a.status = '1'
	</select>
	
	<update id="updateCount">
				update 
				       app_line
				   set count = count+1
				 where app_line_no = (
				                        select app_line_no
				                          from app_line
				                         where ref_whether = 'Y'
				                           and emp_no = #{receiverNo}
				                           and app_no = #{appNo}
				                        )	
	</update>
	
	<insert id="insertApproval">
			insert
			  into approval
			  (
			     app_no
			   , enroll_date
			   , writer_comment
			   , title
			   , content
			   , emp_no
			   , form_name
			   , conser_period
			   , sec_grade
			   , form_code
			   , app_amount
			   , app_sequence
			   , app_change
			  )
			    values
			  (
			     seq_apno.nextval
			   , #{enrollDate}
			   , #{writerComment}
			   , #{title}
			   , #{content}
			   , #{writerNo}
			   , #{formName}
			   , #{conPeriod}
			   , #{secGrade}
			   , #{formCode}
			   , #{appAmount}
			   , #{appSequence}
			   , #{appChange}
			  )  	
	</insert>
	
	<insert id="insertApprovalLine">
			 insert
			   into app_line
			      (
			        app_line_no
			      , ref_whether
			      , app_seq_no
			      , emp_no
			      , app_no
			      )  
			        values
			      (
			        seq_alno.nextval
			      , #{refWhether}
			      , (
			           SELECT count(*)+ 1 
			             FROM  app_line
			            where  app_no = (select max(app_no)
			                               from approval
			                            )
			         )
			      , #{recEmpNo} 
			      , (
			         select max(app_no)
			           from approval
			        )
			      ) 	
	
	</insert>
	
	<insert id="insertAttachment">
			insert
			  into attachment
			      (
			       attach_no
			     , ref_no
			     , origin_name
			     , change_name
			     , file_path
			     , division
			      )
			        values
			    (
			       seq_attno.nextval
			     , (
			         select max(app_no)
			           from approval
			        )
			     , #{originName}
			     , #{changeName}
			     , #{filePath}
			     , 'A'
			    )
	</insert>
	
	<insert id="insertVacationForm">
			insert
			  into vac_form
			  (
			  app_no
			  , vac_kind
			  , vac_start
			  , vac_end
			  , half_status
			  , vac_use
			  , half_day
			  )
			  values
			  (
			      (
			        select max(app_no)
			          from approval
			      )
			    , #{vacKind}
			    , #{vacStart}
			    , #{vacEnd}
			    , #{halfStatus}
			    , #{vacUse}
			    , #{halfDay}
			  )	
	</insert>
	
	<insert id="insertOverTimeForm">
			insert
			  into ot_form
			      (
			      app_no
			      , overtime_kind
			      , over_date
			      , over_start_hour
			      , over_end_hour
			      , over_use_time
			      )
			        values
			     (
			         (
			            select max(app_no)
			              from approval
			         )
			       , #{otKind}
			       , #{otDate}
			       , #{otStart}
			       , #{otEnd}
			       , #{otUseTime}
			     )  	
	</insert>
	
	<update id="updateAppStatus">
		update 
		        approval
		   set app_tstatus = #{appStatus}
		 where app_amount = app_sequence
		   and app_no = #{appNo}
	</update>
	
	<update id="updateAppSequence">
		update approval
		   set app_sequence= approval.app_sequence + 1
		 where app_no = #{appNo}  
		   and app_amount != app_sequence		
	</update>
	
	<update id="updateAppLine">
			update app_line
			   set app_status = #{appStatus}
			      , update_date = sysdate
			      , app_comment = #{appComment}
			  where app_line_no = (
			                        select app_line_no
			                           from app_line
			                        where emp_no = #{recEmpNo}
			                          and app_no = #{appNo}
			                          and ref_whether = 'N'
			                        )       	
	</update>
	
	<select id="selectTempApproval" resultMap="approvalResult">
			select
			        a.APP_NO
			        ,a.ENROLL_DATE
			        ,a.STATUS
			        , APP_TSTATUS
			        , WRITER_COMMENT
			        , TITLE
			        , CONTENT
			        , a.EMP_NO
			        , FORM_NAME
			        , CONSER_PERIOD
			        , SEC_GRADE
			        , FORM_CODE
			        , APP_AMOUNT
			        , APP_SEQUENCE
			        , APP_CHANGE
			        , emp_name
			        , dept_name
			        , job_code
			  from approval a
			  join employee b on (a.emp_no = b.emp_no)
			  join department c on (b.dept_code = c.dept_code)
			  where app_no = #{appNo}	
	</select>
	
	<update id="updateApproval">
		   update
                   approval
              set
                     enroll_date = #{enrollDate}
                   , writer_comment = #{writerComment}
                   , title = #{title}
                   , content = #{content}
                   , app_amount = #{appAmount}
                   , app_sequence = #{appSequence}
                   , app_change = #{appChange}
                   , status = #{status}     
            where  app_no = #{appNo}	
	</update>
	
	<delete id="updateApprovalLine">
			delete app_line
             where  app_no = #{appNo}	
	</delete>
	
	
</mapper>