<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<resultMap id="boardResult" type="Board">
		<id column="board_no" property="boardNo" />
		<result column="board_cno" property="boardCno" />
		<result column="board_title" property="boardTitle" />
		<result column="board_writer" property="boardWriter" />
		<result column="board_count" property="boardCount" />
		<result column="create_date" property="createDate" />
		<result column="board_content" property="boardContent" />
		<result column="board_pin" property="boardPin" />
		<result column="board_cname" property="boardCname" />
	</resultMap>
	
	<resultMap id="attachmentResult" type="Attachment">
		<id column="attach_no" property="attachNo" />
		<result column="ref_no" property="refNo" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="file_path" property="filePath" />
		<result column="upload_date" property="uploadDate" />
		<result column="division" property="division" />
	</resultMap>
	
	<resultMap id="boardcateResult" type="BoardCate">
		<id column="board_cno" property="boardCno" />
		<result column="board_cname" property="boardCname" />
		<result column="display_range" property="displayRange" />
		<result column="private_status" property="privateStatus" />
		<result column="anonym_status" property="anonymStatus" />
		<result column="dept_code" property="deptCode" />
	</resultMap>
	
	<resultMap id="boardreplyResult" type="BoardReply">
		<id column="reply_no" property="replyNo" />
		<result column="board_no" property="boardNo" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_writer" property="replyWriter" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="status" property="status" />
	</resultMap>
	

	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from board
		 where delete_status = 'N'
	</select> 
	
	<select id="selectList" resultMap="boardResult">
		select
		       board_no
		     , board_cno
		     , board_title
		     , board_writer
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , board_count
		     , board_pin
		  from board 
		 where delete_status = 'N'
		 order
		    by board_no desc
	</select>
	
	<insert id="insertBoard">
		insert
		  into board
		  (
		  	board_no
		  , board_cno
		  , board_title
		  , board_writer
		  , board_content
		  , board_pin
		  ) 
		  values
		  (
		  	seq_bno.nextval
		  , #{boardCno}
		  , #{boardTitle}
		  , #{boardWriter}
		  , #{boardContent}
		  , #{boardPin}
		  )
	</insert>
	
	
	<insert id="insertAttachment">
		insert 
		  into attachment
		  (
		    ATTACH_NO
		  , REF_NO
	  	  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  , UPLOAD_DATE
		  , DIVISION
		  )
		  values
		  (
		    seq_attno.nextval
		  , seq_bno.currval
		  , #{ originName }
		  , #{ changeName }
		  , #{ filePath }
		  , to_char(sysdate, 'YYYY-MM-DD')
		  , 'B'
		  )
	</insert>
	
	<update id="increaseCount">
		update
		       board
		   set board_count = board_count + 1
		 where board_no = #{boardNo}
		   and delete_status = 'N'
	</update>
	
	<select id="selectBoard" resultMap="boardResult">
		select
			   board_no
			 , board_cno
			 , board_title
			 , board_writer
			 , board_content
			 , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		  from board
		 where board_no = #{boardNo}
	</select>
	

	<select id="selectAttachmentList" resultMap="attachmentResult">
		select
			   attach_no
			 , ref_no
			 , origin_name
			 , change_name
			 , file_path
			 , upload_date
			 , division
	      from attachment 
	     where division = 'B'
		   and ref_no = #{boardNo}
	</select>
	
	<update id="deleteBoard">
		update
		       board
		   set delete_status = 'Y'
		 where board_no = #{boardNo}
	</update>
	
	<select id="selectAttList" resultMap="attachmentResult">
		select
			   attach_no
			 , ref_no
			 , origin_name
			 , change_name
			 , file_path
			 , upload_date
			 , division
	      from attachment 
	     where division = 'B'
		   and ref_no = #{boardNo}
	</select>
	
	
	<update id="updateBoard">
		update
		       board
		   set board_cno = #{boardCno}
		     , board_title = #{boardTitle}
		     , board_content = #{boardContent}
		     , board_pin = #{boardPin}
		 where board_no = #{boardNo}
	</update>
	
	<insert id="updateAttachment">
		insert 
		  into attachment
		  (
		    ATTACH_NO
		  , REF_NO
	  	  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  , UPLOAD_DATE
		  , DIVISION
		  )
		  values
		  (
		    seq_attno.nextval
		  , seq_bno.currval
		  , #{ originName }
		  , #{ changeName }
		  , #{ filePath }
		  , to_char(sysdate, 'YYYY-MM-DD')
		  , 'B'
		  )
	</insert>
	
	<delete id="deleteAttachment">
	    delete from attachment
	    where ref_no = #{boardNo}
	</delete>
	
	<select id="selectReplyList" resultMap="boardreplyResult">
		select
			   reply_no 						
			 , reply_writer
			 , reply_content
			 , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		  from board_reply 
		 where status = 'N'
		   and board_no = #{boardNo}		
		 order
		    by reply_no desc  
	</select>
	
	<insert id="insertReply">
		insert
		  into board_reply
		  (
		    reply_no
		  , reply_content
		  , board_no
		  , reply_writer
		  )
		  values
		  (
		    seq_brno.nextval
		  , #{replyContent}
		  , #{boardNo}
		  , #{replyWriter}
		  )
	</insert>
	
	<delete id="deleteReply">
		delete
		  from board_reply
	</delete>
	
	<update id="updateReply">
		update
		 	   board_reply 
		   set reply_no = #{replyNo}						
			 , reply_writer = #{replyWriter}
			 , reply_content = #{replyContent}
		where status = 'N'
		   and board_no = #{boardNo}	
	</update>
	
	<select id="selectSettings" resultMap="boardcateResult">
		select
			   board_cno
			 , board_cname
			 , display_range
			 , private_status
			 , anonym_status
			 , dept_code
	      from board_cate
	     where board_cno = #{boardCno}
	</select>

	<insert id="insertCate">
		insert
		  into board_cate
		  (
		    board_cno
		  , board_cname
		  , display_range
		  , private_status
		  , anonym_status
		  , dept_code
		  )
		  values
		  (
		    seq_bcno.nextval
		  , #{boardCname}
		  , #{displayRange}
		  , #{privateStatus}
		  , #{anonymStatus}
		  , #{deptCode}
		  )
	</insert>

	<update id="updateCate">
		update
			   board_cate
		   set board_cname = #{boardCname}
		  	 , display_range = #{displayRange}
		  	 , private_status = #{privateStatus}
		  	 , anonym_status = #{anonymStatus}
		  	 , dept_code = #{deptCode}
		 where board_cno = #{boardCno}
	</update>










</mapper>