<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"mybatis-3-mapper.dtd" >
<mapper namespace="commuteMapper">

	<resultMap type="Commute" id="commuteResult">
		<id column="com_code" property="comCode" />
		<result column="emp_no" property="empNo" />
		<result column="enroll_date" property="enrollDate" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="work_time" property="workTime" />
		<result column="com_status" property="comStatus" />
	</resultMap>
	
	<resultMap type="VacationRecode" id="vacResult">
		<id column="vac_recode" property="vacRecode" />
		<result column="emp_no" property="empNo" />
		<result column="vac_days" property="vacDays" />
		<result column="enroll_date" property="enrollDate" />
		<result column="vac_reason" property="vacReason" />
		<result column="vac_divide" property="vacDivide" />
		<result column="vac_category" property="vacCategory" />
	</resultMap>
	
	<resultMap id="vacFormResult" type="VacationForm">
		<id column = "app_no" property="appNo" />
		<result column="vac_kind" property="vacKind" /> 
		<result column="vac_start" property="vacStart" /> 
		<result column="vac_end" property="vacEnd" /> 
		<result column="half_status" property="halfStatus" /> 
		<result column="vac_use" property="vacUse" /> 
		<result column="half_day" property="halfDay" /> 
	</resultMap>
	
	<resultMap type="Employee" id="employeeResult">
		<id column="emp_no" property="empNo" />
		<result column="emp_name" property="empName" />
		<result column="emp_id" property="empId" />
		<result column="emp_pwd" property="empPwd" />
		<result column="email" property="email" />
		<result column="address" property="address" />
		<result column="phone" property="phone" />
		<result column="emp_profile" property="empProfile" />
		<result column="dept_code" property="deptCode" />
		<result column="dept_name" property="deptName" />
		<result column="job_code" property="jobCode" />
		<result column="job_name" property="jobName" />
		<result column="hire_date" property="hireDate" />
		<result column="ent_yn" property="entYn" />
		<result column="ent_date" property="entDate" />
		<result column="status" property="status" />
	</resultMap>


	<update id="inTime">
		update 
			   commute
		   set start_time = #{startTime}
		 where emp_no = #{empNo}
		   and enroll_date = #{enrollDate}
	</update>
	
	<update id="outTime">
		update 
			   commute
		   set end_time = #{endTime}
		 where emp_no = #{empNo}
		   and enroll_date = #{enrollDate}
	</update>
	
	<update id="updateStatus">
		update
		       employee
		   set status = #{status}
		 where emp_no = #{empNo}
	</update>
	
	<select id="commuteMainPage" resultMap="commuteResult">
		select
			   com_code
			 , emp_no
			 , enroll_date
			 , start_time
			 , end_time
			 , work_time
			 , com_status
		  from commute
		 where emp_no = #{empNo}
		   and enroll_date = (SELECT TO_CHAR(SYSDATE, 'YYYY/MM/DD') FROM DUAL)
	</select>


	
	<insert id="insertCommuteDay">
		 insert all
	       into commute (COM_CODE
	                   , emp_no
	                   , ENROLL_DATE
	                   , START_TIME
	                   , END_TIME
	                   , COM_STATUS) 
	        values (SEQ_COMNO.nextval
	              , emp_no
	              , to_char(sysdate, 'YYYY/MM/DD')
	              , null
	              , null
	              , 'AB')
		select emp_no
		  from employee
		 where employee.ent_yn = 'N'
	</insert>
	
	<select id="selectVacMain" resultMap="vacResult">
		select
				vac_recode
			  , emp_no
			  , vac_days
			  , enroll_date
			  , vac_reason
			  , vac_divide
			  , vac_category
		   from vac_recode
		  where emp_no = #{empNo}
	</select>
	
	<select id="selectVacForm" resultMap="vacFormResult">
                 select  app_no
                        , vac_kind
                        , vac_start
                        , vac_end
                        , half_status
                        , vac_use
                        , half_day
				   from vac_form v
                   join approval a
                     using (app_no)
				  where a.emp_no = #{empNo}
                    and a.form_code = 3
	</select>
	
	<select id="selectListCount" resultType="_int">
		select
				count(*)
			from employee
		   where ent_yn = 'N'		
	</select>
	
	<select id="selectEmpList" resultMap="employeeResult">
				select
					    emp_no
					  , emp_name
					  , emp_id
					  , emp_pwd
					  , email
					  , address
					  , phone
					  , emp_profile
					  , d.dept_code
		              , dept_name
					  , j.job_code
		              , job_name
					  , to_char(hire_date, 'YYYY"년"MM"월"DD"일"') as "hire_date"
					  , ent_yn
					  , ent_date
					  , status
				  from employee e
		          left join department d on (e.dept_code = d.dept_code)
		          left join job j on (e.job_code = j.job_code)
				 where ent_yn = 'N'
	</select>
	

</mapper>