<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">

	<resultMap type="Employee" id="employeeResult">
		<id column="emp_no" property="empNo" />
		<result column="emp_name" property="empName" />
		<result column="emp_id" property="empId" />
		<result column="emp_pwd" property="empPwd" />
		<result column="email" property="email" />
		<result column="address" property="address" />
		<result column="phone" property="phone" />
		<result column="emp_profile" property="empProfile" />
		<result column="dept_code" property="deptCode" />
		<result column="job_code" property="jobCode" />
		<result column="hire_date" property="hireDate" />
		<result column="ent_yn" property="entYn" />
		<result column="ent_date" property="entDate" />
		<result column="status" property="status" />
	</resultMap>

	<select id="loginEmployee" resultMap="employeeResult">
		select
			    emp_no
			  , emp_name
			  , emp_id
			  , emp_pwd
			  , email
			  , address
			  , phone
			  , emp_profile
			  , dept_code
			  , job_code
			  , to_char(hire_date, 'YYYY"년"MM"월"DD"일"') as "hire_date"
			  , ent_yn
			  , ent_date
			  , status
		  from employee
		 where emp_id = #{empId}
		   and ent_yn = 'N'
	</select>
	
	<select id="findId" resultType="_int">
		select
			   count(*)
		  from employee
		 where emp_name = #{empName}
		   and phone = #{phone}
	</select>
	
	<update id="updateEmployee">
		update 
			    employee
		   set phone = #{phone},
		       address = #{address}
		 where emp_no = #{empNo}
	</update>
	
	<update id="updatePwd">
		update
		       employee
		   set emp_pwd = #{empPwd}
		 where emp_id = #{empId}
	</update>
	
	<update id="updateProfile">
		update
			   employee
		   set emp_profile = #{empProfile}
		 where emp_id = #{empId}
	</update>

</mapper>