<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<resultMap id="MailResult" type="Mail">
		<id column="recep_mail_no" property="recMailNo" />
		<result column="mail_no" property="mailNo" />
		<result column="tag_no" property="tagNo" />
		<result column="recep_mail_address" property="recMailAdd" />
		<result column="send_mail_address" property="sendMailAdd" />
		<result column="emp_name" property="empName" />
		<result column="mail_title" property="mailTitle" />
		<result column="mail_content" property="mailContent" />
		<result column="rec_check" property="recCheck" />
		<result column="rec_date" property="recDate" />
		<result column="impor_mail" property="imporMail" />
		<result column="junk_mail" property="junkMail" />
		<result column="reser_mail" property="reserMail" />
		<result column="status" property="status" />
		<result column="reference" property="reference" />
		<result column="hidden_reference" property="hiddenReference" />
		<result column="sent_date" property="sendDate" />
		<result column="temp_storage" property="tempStorage" />
	</resultMap>

	<resultMap id="TagResult" type="MailTage">
		<id column="tag_no" property="tagNo" />
		<result column="emp_no" property="empNo" />
		<result column="tag_name" property="tagName" />
		<result column="tag_color" property="tagColor" />
	</resultMap> 
	
	<select id="selectReceiceMailList" resultMap="MailResult">
		select 
		       RECEP_MAIL_NO
			 , MAIL_NO
			 , TAG_NO
			 , emp_name
			 , SEND_MAIL_ADDRESS
			 , MAIL_TITLE
			 , MAIL_CONTENT
			 , REC_CHECK
			 , to_char(REC_DATE , 'YYYY-MM-DD HH24:MI') "REC_DATE"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from rec_mail r
	      join employee e on r.send_mail_address = e.email
	     where 
			   recep_mail_address = #{email}
	     order
	        by recep_mail_no desc
	</select>
	
	<select id="selectTagList" resultMap="TagResult">
		select
		       TAG_NO
			 , TAG_NAME
			 , TAG_COLOR
		  from mail_tag
		 where emp_no = #{empNo}
		 order
		    by tag_no desc 			 
	</select>

	<insert id="insertTag">
		insert 
		  into mail_tag
	  	  (
	  	    tag_no
	  	  , emp_no
	  	  , tag_name
	  	  , tag_color  
	  	  )
		  values
		  (
		    seq_tagno.nextval
		  , #{empNo}
		  , #{tagName}
		  , #{tagColor}
		  )
	</insert>
	
	<insert id="sendMail">
		insert 
		  into send_mail
		  (
		  	MAIL_NO
		  , SEND_MAIL_ADDRESS
		  , MAIL_TITLE
		  , MAIL_CONTENT
		  )
		  values
		  (
		    seq_mano.nextval
		  , #{ sendMailAdd }
		  , #{ mailTitle }
		  , #{ mailContent }
		  )
	</insert>
	
	<insert id="receiveMail">
		insert
		  into rec_mail
		  (
			RECEP_MAIL_NO
		  , MAIL_NO
		  , RECEP_MAIL_ADDRESS
		  , SEND_MAIL_ADDRESS
		  , MAIL_TITLE
		  , MAIL_CONTENT
		  , REC_DATE
		  , IMPOR_MAIL
		  , REFERENCE
		  , HIDDEN_REFERENCE
		  )
		  values
		  (
		    seq_recmano.nextval
		  , seq_mano.currval
		  , #{ recMailAdd }
		  , #{ sendMailAdd }
		  , #{ mailTitle }
		  , #{ mailContent }
		  , to_char(sysdate, 'YYYY-MM-DD HH24:MI')
		  , #{ imporMail }
		  , #{ reference }
		  , #{ hiddenReference }
		  )
	</insert>
	
	<insert id="insertAttachment">
		insert 
		  into attachment
		  (
		    ATTACH_NO
		  , REF_NO
	  	  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  , UPLOAD_DATE
		  , DIVISION
		  )
		  values
		  (
		    seq_attno.nextval
		  , seq_mano.currval
		  , #{ originName }
		  , #{ changeName }
		  , #{ filePath }
		  , to_char(sysdate, 'YYYY-MM-DD HH24:MI')
		  , 'M'
		  )
	</insert>
	
	<update id="readMail">
		update rec_mail 
		   set rec_check = 'Y'
		 where mail_no = #{ mailNo }
		   and recep_mail_address = #{ recMailAdd }
	</update>
	
	<select id="selectMail" resultMap="MailResult">
		select
			   RECEP_MAIL_NO
			 , MAIL_NO
			 , TAG_NO
			 , emp_name
			 , SEND_MAIL_ADDRESS
			 , MAIL_TITLE
			 , MAIL_CONTENT
			 , REC_CHECK
			 , to_char(REC_DATE , 'YYYY-MM-DD HH24:MI') "REC_DATE"
			 , IMPOR_MAIL
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from rec_mail r
	      join employee e on r.send_mail_address = e.email
	     where 
			   MAIL_NO = #{ mailNo }
		   and RECEP_MAIL_NO = #{ recMailNo }
	</select>
	
	<select id="selectReceiverList" resultMap="MailResult">
		select
			   RECEP_MAIL_NO
			 , MAIL_NO
			 , emp_name
			 , RECEP_MAIL_ADDRESS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from rec_mail r
	      join employee e on r.recep_mail_address = e.email
	     where 
			   MAIL_NO = #{ mailNo }
	</select>

</mapper>