<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<resultMap id="MailResult" type="Mail">
		<id column="recep_mail_no" property="recMailNo" />
		<result column="mail_no" property="mailNo" />
		<result column="ref_no" property="refNo" />
		<result column="tag_no" property="tagNo" />
		<result column="tag_name" property="tagName" />
		<result column="tag_color" property="tagColor" />
		<result column="recep_mail_address" property="recMailAdd" />
		<result column="send_mail_address" property="sendMailAdd" />
		<result column="emp_name" property="empName" />
		<result column="mail_title" property="mailTitle" />
		<result column="mail_content" property="mailContent" />
		<result column="rec_check" property="recCheck" />
		<result column="rec_date" property="recDate" />
		<result column="date_day" property="dateDay" />
		<result column="date_time" property="dateTime" />
		<result column="impor_mail" property="imporMail" />
		<result column="junk_mail" property="junkMail" />
		<result column="reser_mail" property="reserMail" />
		<result column="status" property="status" />
		<result column="reference" property="reference" />
		<result column="hidden_reference" property="hiddenReference" />
		<result column="sent_date" property="sentDate" />
		<result column="temp_storage" property="tempStorage" />
	</resultMap>

	<resultMap id="TagResult" type="MailTage">
		<id column="tag_no" property="tagNo" />
		<result column="emp_no" property="empNo" />
		<result column="tag_name" property="tagName" />
		<result column="tag_color" property="tagColor" />
	</resultMap> 
	
	<resultMap id="AttachResult" type="Attachment">
		<id column="attach_no" property="attachNo" />
		<result column="ref_no" property="refNo" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="file_path" property="filePath" />
		<result column="upload_date" property="uploadDate" />
		<result column="division" property="division" />
	</resultMap>
	
	<resultMap id="MailFavorResult" type="MailFavorite">
		<id column="fav_no" property="favNo" />
		<result column="emp_no" property="empNo" />
		<result column="fav_order" property="favOrder" />
		<result column="mailbox_name" property="mailBoxName" />
	</resultMap>
	
	<select id="selectReceiceMailList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.send_mail_address = email
	     where 
			   recep_mail_address = #{ email }
		   and r.status = 'Y'
	     order
	        by recep_mail_no desc
	</select>
	
	<select id="selectList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.send_mail_address = email
	     where 
			   recep_mail_address = #{ email }
		   and r.status = 'Y'
	     order
	        by recep_mail_no desc
	</select>
	
	<select id="selectPreviousList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.send_mail_address = email
	     where 
			   recep_mail_address = #{ email }
		   and r.status = 'Y'
	     order
	        by recep_mail_no asc
	</select>
	
	<select id="selectTagList" resultMap="TagResult">
		select
		       TAG_NO
			 , TAG_NAME
			 , TAG_COLOR
		  from mail_tag
		 where emp_no = #{empNo}
		 order
		    by tag_no desc 			 
	</select>

	<insert id="insertTag">
		insert 
		  into mail_tag
	  	  (
	  	    tag_no
	  	  , emp_no
	  	  , tag_name
	  	  , tag_color  
	  	  )
		  values
		  (
		    seq_tagno.nextval
		  , #{empNo}
		  , #{tagName}
		  , #{tagColor}
		  )
	</insert>
	
	<insert id="sendMail">
		insert 
		  into send_mail
		  (
		  	MAIL_NO
		  , SEND_MAIL_ADDRESS
		  , MAIL_TITLE
		  , MAIL_CONTENT
		  , SENT_DATE
		  , TEMP_STORAGE
		  )
		  values
		  (
		    seq_mano.nextval
		  , #{ sendMailAdd }
		  , #{ mailTitle }
		  , #{ mailContent }
		  , to_char(sysdate, 'YYYY-MM-DD DY HH24:mi:SS')
		  , #{ tempStorage }
		  )
	</insert>
	
	<insert id="receiveMail">
		insert
		  into rec_mail
		  (
			RECEP_MAIL_NO
		  , MAIL_NO
		  , RECEP_MAIL_ADDRESS
		  , SEND_MAIL_ADDRESS
		  , MAIL_TITLE
		  , MAIL_CONTENT
		  , IMPOR_MAIL
		  , REFERENCE
		  , HIDDEN_REFERENCE
		  , status
		  )
		  values
		  (
		    seq_recmano.nextval
		  , seq_mano.currval
		  , #{ recMailAdd }
		  , #{ sendMailAdd }
		  , #{ mailTitle }
		  , #{ mailContent }
		  , #{ imporMail }
		  , #{ reference }
		  , #{ hiddenReference }
		  , #{ status }
		  )
	</insert>
	
	<insert id="insertAttachment">
		insert 
		  into attachment
		  (
		    ATTACH_NO
		  , REF_NO
	  	  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  , UPLOAD_DATE
		  , DIVISION
		  )
		  values
		  (
		    seq_attno.nextval
		  , seq_mano.currval
		  , #{ originName }
		  , #{ changeName }
		  , #{ filePath }
		  , to_char(sysdate, 'YYYY-MM-DD HH24:mi:SS')
		  , 'M'
		  )
	</insert>
	
	<select id="selectMailAttachment" resultMap="AttachResult">
		select 
			   ATTACH_NO
		     , REF_NO
			 , ORIGIN_NAME
			 , FILE_PATH
			 , DIVISION
		 from attachment
		where division = 'M'
		  and ref_no = #{ mailNo }
	</select>
	
	<select id="selectRecSendMailNo" resultType="_int">
		select 
		   	   seq_mano.currval "mail_no"		   	   
		  from 
		       dual
	</select>
	
	<update id="readMail">
		update rec_mail 
		   set rec_check = 'Y'
		     , rec_date = to_char(sysdate, 'YYYY-MM-DD DY HH24:mi:SS')
		 where mail_no = #{ mailNo }
		   and recep_mail_address = #{ recMailAdd }
	</update>
	
	<select id="unReadCount" resultType="_int">
		select count(mail_no)
		  from rec_mail
		 where rec_check = 'N'
		   and recep_mail_address = #{ recMailAdd }
	</select>
	
	<select id="selectMail" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , r.TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.send_mail_address = email
     left join mail_tag t on r.tag_no = t.tag_no
	     where 
			   RECEP_MAIL_NO = #{ recMailNo }
	</select>
	
	<select id="selectReceiverList" resultMap="MailResult">
		select
			   RECEP_MAIL_NO
			 , MAIL_NO
			 , emp_name
			 , RECEP_MAIL_ADDRESS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from rec_mail r
	      join employee e on r.recep_mail_address = e.email
	     where 
			   MAIL_NO = #{ mailNo }
	</select>
	
	<update id="updateReadUnreadMail">
		update rec_mail
		   set 
  	   		   rec_check = #{ recCheck }
  	   		 , rec_date = case
  	   		   when rec_check = 'Y' then null
               when rec_check = 'N' then to_char(sysdate, 'YYYY-MM-DD HH24:mi:SS')
  	   		   else rec_date
  	   		   end
		 where recep_mail_no = #{ recMailNo }
	</update>
	
	<update id="deleteMail">
		update rec_mail
		   set 
		       status = 'N'
		     , junk_mail = 'N'
		 where recep_mail_no = #{ recMailNo }
	</update>
	
	<delete id="completeDeleteMail">
		delete 
		  from rec_mail
		 where 
	 	       recep_mail_no = #{ recMailNo }
	</delete>
	
	<update id="spamEnroll">
		update rec_mail
		   set
		       junk_mail = 'Y'
		     , status = 'Y'
		 where recep_mail_no = #{ recMailNo }
	</update>
	
	<update id="spamClear">
		update rec_mail
		   set
		       junk_mail = 'N'
		 where recep_mail_no = #{ recMailNo }
	</update>
	
	<update id="tagMail">
		update rec_mail
		   set 
		       tag_no = #{ tagNo }
		 where recep_mail_no = #{ recMailNo }
	</update>
	
	<select id="selectTodayMailList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.recep_mail_address = email
	inner join (select to_char(to_date(sysdate), 'YYYY-MM-DD') as selectDate  from dual) e
     		on s.sent_date like '%' || e.selectDate || '%'
	     where 
			   recep_mail_address = #{email}
		   and r.status = 'Y'
		   and junk_mail = 'N'
	     order
	        by recep_mail_no desc
	</select>
	
	<select id="selectToMeMailList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.recep_mail_address = email
	     where 
			   recep_mail_address = #{email}
		   and s.send_mail_address = #{email}
		   and r.status = 'Y'
		   and junk_mail = 'N'
	     order
	        by recep_mail_no desc
	</select>
	
	<select id="selectAttachMailList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.recep_mail_address = email
	      join (select distinct ref_no, division from attachment) a on s.mail_no = a.ref_no
	     where 
			   recep_mail_address = #{email}
		   and r.status = 'Y'
		   and junk_mail = 'N'
           and division = 'M'
	     order
	        by recep_mail_no desc
	</select>
	
	<select id="selectImporMailList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.recep_mail_address = email
	     where 
			   recep_mail_address = #{email}
		   and r.status = 'Y'
		   and junk_mail = 'N'
		   and impor_mail = 'Y'
	     order
	        by recep_mail_no desc
	</select>
	
	<select id="selectUnreadMailList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.recep_mail_address = email
	     where 
			   recep_mail_address = #{email}
		   and r.status = 'Y'
		   and junk_mail = 'N'
		   and rec_check = 'N'
	     order
	        by recep_mail_no desc
	</select>
	
	<select id="selectSendMailList" resultMap="MailResult">
			select
			       RECEP_MAIL_NO
				 , s.MAIL_NO
	             , ref_no
				 , TAG_NO
				 , emp_name
				 , r.recep_MAIL_ADDRESS
				 , r.send_mail_address
				 , s.MAIL_TITLE
				 , s.MAIL_CONTENT
				 , REC_CHECK
				 , REC_DATE
				 , sent_date
				 , IMPOR_MAIL
				 , JUNK_MAIL
				 , RESER_MAIL
				 , r.STATUS
				 , REFERENCE
				 , HIDDEN_REFERENCE
		      from send_mail s
	          join rec_mail r on s.mail_no = r.mail_no
	          join employee e on r.recep_mail_address = email	
   full outer join (select distinct ref_no 
                      from attachment) a on s.mail_no = a.ref_no
		     where 
				   s.send_mail_address = #{email}
			   and r.status = 'Y'
	           and s.status = 'Y'
		     order
		        by recep_mail_no desc
	</select>
	
	<update id="deleteSendMail">
		update send_mail
		   set status = 'N'
		 where mail_no = #{mailNo}
	</update>
	
	<select id="selectTempMailList" resultMap="MailResult">
		select
			   MAIL_NO
			 , send_mail_address
			 , MAIL_TITLE
			 , MAIL_CONTENT
			 , sent_date
			 , STATUS
	      from send_mail 
	     where 
			   send_mail_address = #{ sendMailAdd }
           and temp_storage = 'T'
	     order
	        by MAIL_NO desc
	</select>
	
	<update id="enrollImporMail">
		update rec_mail
		   set impor_mail = #{ imporMail }
		 where recep_mail_no = #{ recMailNo }
	</update>
	
	<insert id="enrollFavorMailBox">
		insert 
		  into mail_fav
		  (
	        FAV_NO
		  , EMP_NO
		  , FAV_ORDER
	      , MAILBOX_NAME
		  )
		  values
		  (
		    seq_favno.nextval
		  , #{ empNo }
		  , (select count(fav_no)
		  	   from mail_fav
		  	  where emp_no = #{ empNo })
		  , #{ mailBoxName }
		  )
	</insert>
	
	<delete id="deleteFavorMailBox">
		delete
		  from mail_fav
		 where emp_no = #{ empNo }
		   and mailbox_name = #{ mailBoxName }
	</delete>
	
	<select id="selectMailFavorList" resultMap="MailFavorResult">
		select
			   FAV_NO
			 , EMP_NO
			 , FAV_ORDER
			 , MAILBOX_NAME
		  from mail_fav
		 where emp_no = #{ empNo }
	</select>
	
	<select id="selectTaggingMailList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , t.TAG_NO
             , tag_name
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , rec_date
			 , sent_date
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from rec_mail r
          join send_mail s on s.mail_no = r.mail_no
          join employee e on r.recep_mail_address = email
          join mail_tag t on t.tag_no = r.tag_no 
	     where 
			   t.tag_no = ${ tagNo }
	     order
	        by recep_mail_no desc
	</select>
	
	<select id="selectTag" resultMap="TagResult">
		select
		       TAG_NO
			 , EMP_NO
			 , TAG_NAME
			 , TAG_COLOR
		  from mail_tag
		 where tag_no = #{ tagNo }
	</select>
	
	<select id="selectDeleteMailList" resultMap="MailResult">
		select
		       RECEP_MAIL_NO
			 , s.MAIL_NO
			 , TAG_NO
			 , emp_name
			 , r.recep_MAIL_ADDRESS
			 , r.send_mail_address
			 , s.MAIL_TITLE
			 , s.MAIL_CONTENT
			 , REC_CHECK
			 , sent_DATE
			 , substr(sent_DATE, 0, 11) "date_day"
             , substr(sent_DATE, 14) "date_time"
			 , IMPOR_MAIL
			 , JUNK_MAIL
			 , RESER_MAIL
			 , r.STATUS
			 , REFERENCE
			 , HIDDEN_REFERENCE
	      from send_mail s
          join rec_mail r on s.mail_no = r.mail_no
          join employee e on r.send_mail_address = email
	     where 
			   recep_mail_address = #{ email }
		   and r.status = 'N'
	     order
	        by recep_mail_no desc
	</select>
	
	<update id="restoreDeleteMail">
		update rec_mail
		   set
		       status = 'Y'
		 where recep_mail_no = #{ recMailNo }
	</update>
	
	<delete id="completeDeleteMailAll1">
		delete 
		  from rec_mail
		 where 
		   	   recep_mail_address = #{ email }
		   and status = 'N'
	</delete>
	
	<delete id="completeDeleteMailAll2">
		delete 
		  from rec_mail
		 where 
		   	   recep_mail_address = #{ email }
		   and junk_mail = 'Y'
	</delete>
	
	<insert id="insertTempMail">
		insert 
		  into send_mail
		  (
		  	MAIL_NO
		  ,	SEND_MAIL_ADDRESS
		  ,	SENT_DATE
		  ,	MAIL_TITLE
	      ,	MAIL_CONTENT
		  ,	TEMP_STORAGE
		  )
		  values
		  (
		    seq_mano.nextval
		  , #{ sendMailAdd }
		  , to_char(sysdate, 'YYYY-MM-DD DY HH24:mi:SS')
		  , #{ mailTitle }
		  , #{ mailContent }
		  , 'T'
		  )
	</insert>
</mapper>