<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">

	<resultMap id="resourceResult" type="Resource">
		<id column="resource_no" property="resourceNo" />
		<result column="resource_name" property="resourceName" />
		<result column="category_name" property="categoryName" />
		<result column="emp_no" property="resourceWriter" />
		<result column="create_date" property="createDate" />
	</resultMap>
	
	<resultMap id="reservationResult" type="Reservation">
		<id column="re_no" property="reNo" />
		<result column="resource_no" property="resourceNo" />
		<result column="resource_name" property="resourceName" />
		<result column="emp_name" property="reWriter" />
		<result column="re_purpose" property="rePurpose" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="re_allday" property="allDay" />
		<result column="re_status" property="status" />
	</resultMap>
	
	<select id="selectSettingMettingRoom" resultMap="resourceResult">
		select
			    resource_no
			  , resource_name
			  , category_name
			  , emp_name
		   from re_resource
		   join employee using(emp_no)
		  where category_name = '회의실'
		  order
		     by resource_no
	</select>
  
  	<insert id="addMettingRoomResource">
		insert
		  into re_resource
		  (
		  	resource_no
		  , resource_name
		  , category_name
		  , emp_no
		  )
		  values
		  (
		  	seq_rscno.nextval
		  , #{resourceName}
		  , #{categoryName}
		  , #{resourceWriter}
		  )
	</insert>
	
	<update id="mettingRoomUpdate">
		update
			   re_resource
		   set resource_name = #{resourceName}
		 where resource_no = #{resourceNo}
	</update>
	
	<delete id="mettingRoomDelete">
		delete
		  from re_resource
		 where resource_no = #{resourceNo}
	</delete>
	
	<select id="selectSettingBeamProjector" resultMap="resourceResult">
		select
			    resource_no
			  , resource_name
			  , category_name
			  , emp_name
		   from re_resource
		   join employee using(emp_no)
		  where category_name = '빔프로젝터'
		  order
		     by resource_no
	</select>
	
	<insert id="addBeamProjectorResource">
		insert
		  into re_resource
		  (
		  	resource_no
		  , resource_name
		  , category_name
		  , emp_no
		  )
		  values
		  (
		  	seq_rscno.nextval
		  , #{resourceName}
		  , #{categoryName}
		  , #{resourceWriter}
		  )
	</insert>
	
	<update id="beamProjectorUpdate">
		update
			   re_resource
		   set resource_name = #{resourceName}
		 where resource_no = #{resourceNo}
	</update>
	
	<delete id="beamProjectorDelete">
		delete
		  from re_resource
		 where resource_no = #{resourceNo}
	</delete>
	
	<insert id="insertReservation">
		insert
		  into reservation
		  (
		  	re_no
		  , resource_no
		  , re_writer
		  , re_purpose
		  , start_date
		  , end_date
		  , re_allday
		  , start_time
		  , end_time
		  )
		  values
		  (
		  	seq_reno.nextval
		  , #{resourceNo}
		  , #{reWriter}
		  , #{rePurpose}
		  , #{startDate}
		  , #{endDate}
		  , #{allDay}
		  , #{startTime}
		  , #{endTime}
		  )
	</insert>
	
	<select id="selectMettingRoomTimeGrid" resultMap="reservationResult">
		select
				re_no
			  , resource_no
			  , resource_name
			  , emp_name
			  , re_purpose
			  , start_date
			  , end_date
			  , start_time
			  , end_time
			  , re_allday
		   from reservation
		   join employee on(emp_no = re_writer)
		   join re_resource using(resource_no)
		  where re_status = 'Y'
		    and resource_no = #{resourceNo}
		  order
		     by re_no desc
	</select>
	
	<select id="selectMettingRoomName" resultMap="resourceResult">
		select
			   resource_name
		  from re_resource
		 where resource_no = #{resourceNo}
	</select>
	
	
	<select id="selectMettingRoom" resultMap="reservationResult">
		select
				re_no
			  , resource_no
			  , resource_name
			  , emp_name
			  , re_purpose
			  , start_date
			  , end_date
			  , start_time
			  , end_time
			  , re_allday
		   from reservation
		   join employee on(emp_no = re_writer)
		   join re_resource using(resource_no)
		  where re_status = 'Y'
		    and category_name = '회의실'
		  order
		     by re_no desc
	</select>
	
	<select id="selectBeamProjector" resultMap="reservationResult">
		select
				re_no
			  , resource_no
			  , resource_name
			  , emp_name
			  , re_purpose
			  , start_date
			  , end_date
			  , start_time
			  , end_time
			  , re_allday
		   from reservation
		   join employee on(emp_no = re_writer)
		   join re_resource using(resource_no)
		  where re_status = 'Y'
		    and category_name = '빔프로젝터'
		  order
		     by re_no desc
	</select>
	
</mapper>
