<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">

	<resultMap id="resourceResult" type="Resource">
		<id column="resource_no" property="resourceNo" />
		<result column="resource_name" property="resourceName" />
		<result column="category_name" property="categoryName" />
		<result column="emp_no" property="resourceWriter" />
		<result column="create_date" property="createDate" />
	</resultMap>
	
	<select id="selectSettingMettingRoom" resultMap="resourceResult">
		select
			    resource_no
			  , resource_name
			  , category_name
			  , emp_name
		   from re_resource
		   join employee using(emp_no)
		  where category_name = '회의실'
		  order
		     by resource_no
	</select>
  
  	<insert id="addMettingRoomResource">
		insert
		  into re_resource
		  (
		  	resource_no
		  , resource_name
		  , category_name
		  , emp_no
		  )
		  values
		  (
		  	seq_rscno.nextval
		  , #{resourceName}
		  , #{categoryName}
		  , #{resourceWriter}
		  )
	</insert>
	
	<update id="mettingRoomUpdate">
		update
			   re_resource
		   set resource_name = #{resourceName}
		 where resource_no = #{resourceNo}
	</update>
	
	<delete id="mettingRoomDelete">
		delete
		  from re_resource
		 where resource_no = #{resourceNo}
	</delete>
	
	<select id="selectSettingBeamProjector" resultMap="resourceResult">
		select
			    resource_no
			  , resource_name
			  , category_name
			  , emp_name
		   from re_resource
		   join employee using(emp_no)
		  where category_name = '빔프로젝터'
		  order
		     by resource_no
	</select>
	
	<insert id="addBeamProjectorResource">
		insert
		  into re_resource
		  (
		  	resource_no
		  , resource_name
		  , category_name
		  , emp_no
		  )
		  values
		  (
		  	seq_rscno.nextval
		  , #{resourceName}
		  , #{categoryName}
		  , #{resourceWriter}
		  )
	</insert>
	
	<update id="beamProjectorUpdate">
		update
			   re_resource
		   set resource_name = #{resourceName}
		 where resource_no = #{resourceNo}
	</update>
	
	<delete id="beamProjectorDelete">
		delete
		  from re_resource
		 where resource_no = #{resourceNo}
	</delete>
	
</mapper>
