<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="scheduleMapper">

	<resultMap id="calendarResult" type="Calendar">
		<id column="cal_no" property="calNo" />
		<result column="emp_no" property="empNo" />
		<result column="cal_title" property="calTitle" />
		<result column="cal_default" property="calDefault" />
		<result column="create_date" property="createDate" />
		<result column="cal_color" property="calColor" />
	</resultMap>

	<insert id="insertDefaultCalendar">
		insert
		  into my_calendar
		  (
		  	cal_no
		  , emp_no
		  , cal_title
		  , cal_default
		  )
		  values
		  (
		  	seq_calno.nextval
		  , seq_empno.currval
		  , '내 일정'
		  , 'Y'
		  )
	</insert>
	
	<select id="selectMyCalendar" resultMap="calendarResult">
		select
			    cal_no
			  , emp_name
			  , cal_title
			  , cal_default
			  , create_date
			  , cal_color
		   from my_calendar
		   join employee using(emp_no)
		  where emp_no = #{empNo}
	</select>
	
	<insert id="insertCalendar">
		insert
		  into my_calendar
		  (
		  	cal_no
		  , emp_no
		  , cal_title
		  , cal_color
		  )
		  values
		  (
		  	seq_calno.nextval
		  , #{empNo}
		  , #{calTitle}
		  , #{calColor}
		  )
	</insert>
	
	<insert id="insertSchedule">
		insert
		  into schedule
		  (
		  	sc_no
		  , sc_writer
		  , cal_no
		  , sc_title
		  , sc_place
		  , sc_content
		  , start_date
		  , end_date
		  , start_time
		  , end_time
		  , sc_allday
		  )
		  values
		  (
		  	seq_scno.nextval
		  , #{scWriter}
		  , #{calNo}
		  , #{scTitle}
		  , #{scPlace}
		  , #{scContent}
		  , #{startDate}
		  , #{endDate}
		  , #{startTime}
		  , #{endTime}
		  , #{allDay}
		  )
	</insert>
	
	<insert id="insertAttendee">
		insert
		  into sc_attendee
		  (
		  	sc_no
		  , emp_no
		  )
		  values
		  (
		  	seq_scno.currval
		  , #{empNo}
		  )
	</insert>
	
	<select id="selectCalendar" resultMap="calendarResult">
		select
			    cal_no
			  , emp_no
			  , cal_title
			  , cal_default
			  , create_date
			  , cal_color
		   from my_calendar
		  where cal_no = #{calNo}
	</select>
	
	<update id="updateCalendar">
		update
			   my_calendar
		   set cal_title = #{calTitle}
		     , cal_color = #{calColor}
		 where cal_no = #{calNo}
	</update>
	
</mapper>