<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="scheduleMapper">

	<resultMap id="calendarResult" type="Calendar">
		<id column="cal_no" property="calNo" />
		<result column="emp_no" property="empNo" />
		<result column="cal_title" property="calTitle" />
		<result column="cal_default" property="calDefault" />
		<result column="create_date" property="createDate" />
		<result column="cal_color" property="calColor" />
		<collection property="scheduleList" resultMap="scheduleResult" />
	</resultMap>
	
	<resultMap id="scheduleResult" type="Schedule">
		<id column="sc_no" property="scNo" />
		<result column="sc_writer" property="scWriter" />
		<result column="cal_no" property="calNo" />
		<result column="sc_title" property="scTitle" />
		<result column="sc_place" property="scPlace" />
		<result column="sc_content" property="scContent" />
		<result column="sc_company" property="scCompany" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="sc_allday" property="allDay" />
		<result column="sc_status" property="status" />
		<result column="emp_name" property="empName" />
		<!-- <collection property="attendeeList" resultMap="attendeeResult"/> -->
	</resultMap>
	
	<resultMap id="attendeeResult" type="Attendee">
		<id column="sc_no" property="scNo" />
		<result column="emp_no" property="empNo" />
		<result column="emp_name" property="empName" />
		<result column="job_name" property="jobName" />
	</resultMap>
	
	
	<resultMap id="scheduleResult2" type="Schedule">
		<id column="sc_no" property="scNo" />
		<result column="sc_writer" property="scWriter" />
		<result column="emp_name" property="empName" />
		<result column="cal_no" property="calNo" />
		<result column="sc_title" property="scTitle" />
		<result column="sc_place" property="scPlace" />
		<result column="sc_content" property="scContent" />
		<result column="sc_company" property="scCompany" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="sc_allday" property="allDay" />
		<result column="sc_status" property="status" />
		<collection property="attendeeList" ofType="Attendee">
			<result column="sc_no" property="scNo" />
			<result column="emp_no" property="empNo" />
			<result column="attendee_name" property="attendeeName" />
		</collection>
	</resultMap>
	

	<insert id="insertDefaultCalendar">
		insert
		  into my_calendar
		  (
		  	cal_no
		  , emp_no
		  , cal_title
		  , cal_default
		  )
		  values
		  (
		  	seq_calno.nextval
		  , seq_empno.currval
		  , '내 일정'
		  , 'Y'
		  )
	</insert>
	
	<select id="selectMyCalendar" resultMap="calendarResult">
		select
			    cal_no
			  , emp_name
			  , cal_title
			  , cal_default
			  , create_date
			  , cal_color
		   from my_calendar
		   join employee using(emp_no)
		  where emp_no = #{empNo}
	</select>
	
	<insert id="insertCalendar">
		insert
		  into my_calendar
		  (
		  	cal_no
		  , emp_no
		  , cal_title
		  , cal_color
		  )
		  values
		  (
		  	seq_calno.nextval
		  , #{empNo}
		  , #{calTitle}
		  , #{calColor}
		  )
	</insert>
	
	<insert id="insertSchedule">
		insert
		  into schedule
		  (
		  	sc_no
		  , sc_writer
		  , cal_no
		  , sc_title
		  , sc_place
		  , sc_content
		  , start_date
		  , end_date
		  , start_time
		  , end_time
		  , sc_allday
		  )
		  values
		  (
		  	seq_scno.nextval
		  , #{scWriter}
		  , #{calNo}
		  , #{scTitle}
		  , #{scPlace}
		  , #{scContent}
		  , #{startDate}
		  , #{endDate}
		  , #{startTime}
		  , #{endTime}
		  , #{allDay}
		  )
	</insert>
	
	<insert id="insertAttendee">
		insert
		  into sc_attendee
		  (
		  	sc_no
		  , emp_no
		  )
		  values
		  (
		  	seq_scno.currval
		  , #{empNo}
		  )
	</insert>
	
	<select id="selectCalendar" resultMap="calendarResult">
		select
			    cal_no
			  , emp_no
			  , cal_title
			  , cal_default
			  , create_date
			  , cal_color
		   from my_calendar
		  where cal_no = #{calNo}
	</select>
	
	<update id="updateCalendar">
		update
			   my_calendar
		   set cal_title = #{calTitle}
		     , cal_color = #{calColor}
		 where cal_no = #{calNo}
	</update>
	
	<delete id="deleteSchedule">
		delete
		  from schedule
		 where cal_no = #{calNo}
	</delete>
	
	<delete id="deleteCalendar">
		delete
		  from my_calendar
		 where cal_no = #{calNo}
	</delete>
	
	<update id="defaultCalUpdate">
		update
			   my_calendar
		   set cal_default = 'Y'
		 where cal_no = #{calNo}
	</update>
	
	<update id="defaultUpdate">
		update
			   my_calendar
		   set cal_default = 'N'
		 where cal_no = #{calNo}
	</update>
	
	
	<select id="scheduleList" resultMap="calendarResult">
		select
		       c.cal_no
		     , c.emp_no
		     , c.cal_title
		     , c.cal_default
		     , c.cal_color
		     , s.sc_no
		     , s.sc_writer
		     , s.cal_no
		     , s.sc_title
		     , s.sc_place
		     , s.sc_content
		     , s.sc_company
		     , s.start_date
		     , s.end_date
		     , s.start_time
		     , s.end_time
		     , s.sc_allday
		  from my_calendar c
		  left join schedule s on (s.cal_no = c.cal_no)
		 where c.emp_no = #{empNo}
		   and s.sc_status = 'Y'
		 order
		    by c.cal_no desc 
	</select>
	
	
	<select id="selectSchedule" resultMap="scheduleResult">
		select
			    sc_no
			  , sc_writer
			  , cal_no
			  , sc_title
			  , sc_place
			  , sc_content
			  , start_date
			  , end_date
			  , start_time
			  , end_time
			  , sc_allday
		   from schedule
		  where sc_no = #{scNo}
		    and sc_status = 'Y'
	</select>
	
	<select id="attendeeList" resultMap="attendeeResult">
		select
			    sc_no
			  , emp_no
			  , emp_name
              , job_name
		   from sc_attendee
		   join employee using(emp_no)
		   join job using(job_code)
		  where sc_no = #{scNo}
	</select>
	
	
	<update id="scheduleUpdate">
		update
			   schedule
		   set sc_title = #{scTitle}
		  	 , sc_place = #{scPlace}
		  	 , sc_content = #{scContent}
		  	 , start_date = #{startDate}
		  	 , end_date = #{endDate}
		  	 , start_time = #{startTime}
		  	 , end_time = #{endTime}
		  	 , sc_allday = #{allDay}
		 where sc_no = #{scNo}
	</update>
	
	<!--  
	<update id="updateAttendee">
		update
			   sc_attendee
		   set emp_no = #{empNo}
		 where sc_no = #{scNo}
	</update>
	-->
	
	
	<delete id="deleteAttendee">
		delete
		  from sc_attendee
		 where sc_no = #{scNo}
	</delete>
	
	<insert id="insertUpAttendee">
		insert
		  into sc_attendee
		  (
		  	sc_no
		  , emp_no
		  )
		  values
		  (
		  	#{scNo}
		  , #{empNo}
		  )
	</insert>
	
	<!-- 
	<update id="updateAttendee">
		update
			   sc_attendee
		   set emp_no = #{empNo}
		 where sc_no = #{scNo}
	</update>
	 -->
	 
	 <update id="scheduleDelete">
		update
			   schedule
		   set sc_status = 'N'
		 where sc_no = #{scNo}
	</update>
	
	<select id="scheduleTopList" resultMap="scheduleResult">
		select *
		  from (
		        select
		               sc_no
		             , sc_title
		             , start_date
		             , end_date
		             , start_time
		             , end_time
		             , sc_allday
		          from schedule
		         where sc_status = 'Y'
		           and sc_writer = #{empNo}
		         order
		            by sc_no desc
		      )
		 where rownum between 1 and 3
	</select>
	
	<select id="seheduleSearchAtList" resultMap="scheduleResult2">
		select final.* , ee.emp_name "attendee_name"
		  from (select
					    s.sc_no
					  , sc_writer
					  , emp_name
					  , cal_no
					  , sc_title
					  , sc_place
					  , sc_content
					  , start_date
					  , end_date
					  , start_time
					  , end_time
					  , sc_allday
		              , sa.emp_no
				   from schedule s
				   left join employee e on (s.sc_writer = e.emp_no)
				   left join sc_attendee sa on (s.sc_no = sa.sc_no)
				  where sc_status = 'Y'
				    and sc_title like '%' || #{keyword} || '%'
				   	 or sc_content like '%' || #{keyword} || '%'
				   	 or sc_place like '%' || #{keyword} || '%') final
		  join employee ee on (final.emp_no = ee.emp_no)
		  order by sc_no desc
	</select>
	
	<select id="seheduleSearchList" resultMap="scheduleResult">
		select
			    sc_no
			  , s.sc_writer
			  , emp_name
			  , cal_no
			  , sc_title
			  , sc_place
			  , sc_content
			  , start_date
			  , end_date
			  , start_time
			  , end_time
			  , sc_allday
		   from schedule s
           join employee e on (s.sc_writer = e.emp_no)
		  where sc_status = 'Y'
		    and sc_title like '%' || #{keyword} || '%'
		   	 or sc_content like '%' || #{keyword} || '%'
		   	 or sc_place like '%' || #{keyword} || '%'
          order by sc_no desc
	</select>
	 
</mapper>